.casedetail-content > *:last-child {
  margin-bottom: 0 !important;
}

.l-main {
  padding-top: 60px;
  background-color: #fff9ef;
}

/* sec-mv */
.sec-mv {
  padding-bottom: 60px;
}

.main-visual .mv-txt {
  box-sizing: border-box;
  padding: 55px 0 55px;
  text-align: center;
}

.main-visual .mv-txt h2 img {
  width: 114px;
}

.main-visual .mv-txt h2 span {
  display: block;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  color: #f5a813;
}

.main-visual .mv-img {
  padding-top: 50%;
  background-image: url(/assets/images/pages/case/sec_mv_img01.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* sec-caselist */
.sec-caselist .case-list {
  max-width: 1920px;
  margin: 0 auto;
}

.sec-caselist .case-menu {
  margin-bottom: 100px;
}

.sec-caselist .case-menu ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 94px;
  margin-right: 20px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
  transition: all 0.3s;
}

.sec-caselist .case-menu ul li a.active,
.sec-caselist .case-menu ul li a:hover {
  border: 2px solid #f5a813;
}

.sec-caselist .case-menu ul li:last-child a {
  margin-right: 0;
}

.sec-caselist__content {
  position: relative;
  margin: 45px -30px 0;
}

.sec-caselist .content-item {
  display: flex;
  margin-bottom: 50px;
}

.sec-caselist .content-item__img {
  overflow: hidden;
}

.sec-caselist .content-item__img .img {
  padding-top: 246px;
}

.sec-caselist .content-item__img .img--01 {
  background-image: url(/assets/images/pages/case/sec_case_img01.jpg);
}

.sec-caselist .content-item__img .img--02 {
  background-image: url(/assets/images/pages/case/sec_case_img02.jpg);
}

.sec-caselist .content-item__img .img--03 {
  background-image: url(/assets/images/pages/case/sec_case_img03.jpg);
}

.sec-caselist .content-item__txts {
  position: relative;
  padding: 51px 76px 43px 22.5px;
  margin: -46px 30px 0;
  letter-spacing: 0.1em;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
  transition: all 0.3s;
}

.sec-caselist .content-item__txts:hover {
  border: 2px solid #f5a813;
}

.sec-caselist .content-item .item-label {
  position: absolute;
  top: -2px;
  left: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #f5a813;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
}

.sec-caselist .content-item .item-ttl {
  margin-bottom: 22.5px;
  font-size: 19px;
  color: #f5a813;
}

.sec-caselist .content-item .item-txt {
  font-size: 13px;
  line-height: 2.57;
  letter-spacing: 0.1em;
}

.sec-caselist .content-item .item-btn {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 45px;
  height: 45px;
  margin: auto;
}

.sec-caselist .content-item .item-btn__circle {
  width: 100%;
  height: 100%;
}

.sec-caselist .content-item .item-btn__circle::after {
  width: 8px;
  height: 12px;
  content: '';
  background: url(/assets/images/pages/case/arrow_icon01.png);
  border: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.sec-caselist__btn {
  position: relative;
  margin: 50px auto 0;
}

.sec-caselist__btn .case-btn-txt {
  font-size: 15px;
  color: #f5a813;
  letter-spacing: 0.15em;
}

.sec-caselist__btn.c-link-btn--arrow::after {
  width: 8px;
  height: 12px;
  content: '';
  background: url(/assets/images/pages/case/arrow_icon01.png);
  border: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.c-link-btn--arrow.prev-arrow::after {
  right: inherit;
  left: 25px;
  width: 8px;
  height: 12px;
  content: '';
  background: url(/assets/images/pages/case/arrow_icon02.png);
  border: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pagination .l-container {
  display: flex;
  justify-content: space-between;
}

.paginate-num {
  display: flex;
  align-items: center;
}

.paginate-num li a {
  padding: 0 3px;
  margin: 0 18px;
  font-size: 16px;
  color: #f5a813;
}

.paginate-num li a:hover,
.paginate-num li a.active {
  border-bottom: 2px solid #f5a813;
}

/* .sec-casedetail */
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.sec-casedetail {
  padding-bottom: 100px;
}

.sec-casedetail__mv .description {
  width: 36%;
  padding: 0;
}

.casedetail-img {
  width: 58%;
}

.description p {
  display: flex;
}

.description .ttl01 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 30px;
  font-size: 13px;
  color: #fff;
  background: #f5a813;
  border-radius: 7px;
}

.description .name-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #f5a813;
  letter-spacing: 0.3em;
}

.sec-description__ttl {
  margin: 22px 0 19px;
  font-size: 36px;
  color: #f5a813;
  letter-spacing: 0.1em;
}

.description ul {
  display: flex;
}

.description ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 30px;
  padding: 0 19px;
  margin-right: 5px;
  font-weight: bold;
  color: #333;
  background: #fff;
  border: 1px solid #faedd7;
  border-radius: 4px;
}

.description ul li:lastchild {
  margin-right: 0;
}

.sec-description__txt {
  margin-top: 50px;
  line-height: 2.75;
  text-align: justify;
  letter-spacing: 0.1em;
}

.sec-casedetail .sec-content__ttl {
  position: relative;
  font-size: 30px;
  color: #f5a813;
  text-align: center;
  letter-spacing: 0.25em;
}

.sec-casedetail .sec-content__ttl::before {
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  content: '';
  background: #f5a813;
}

.sec-casedetail .sec-content__ttl02 {
  color: #f5a813;
  text-align: center;
}

.sec-casedetail .sec-content__ttl02 .c-en-txt {
  display: block;
  margin-top: 20px;
}

.sec-casedetail .sec-content__desc h3 {
  margin-top: 15px;
  font-size: 24px;
  color: #f5a813;
  letter-spacing: 0.28em;
}

.casedetail-btn {
  width: 810px;
  margin: 0 auto 130px;
}

.casedetail-btn__inner {
  display: flex;
  justify-content: space-between;
}

.c-link-btn--arrow.detail-icon::after {
  display: none;
}

.c-link-btn--arrow.detail-icon img {
  margin-right: 10px;
}

.sec-popular {
  padding: 120px 0 40px;
  background: linear-gradient(to bottom, #fff 60%, #fff9ef 40%);
}

.sec-casedetail .sec-caselist .content-item:last-child {
  margin-bottom: 120px;
}

@media (min-width: 768px) {
  .clearfix {
    margin-top: 80px;
  }

  .l-main {
    padding-top: 90px;
  }

  /* sec-mv */
  .sec-mv {
    max-width: 1920px;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .main-visual {
    display: flex;
    align-items: center;
  }

  .main-visual .mv-txt {
    width: 680px;
    text-align: center;
  }

  .main-visual .mv-txt h2 {
    display: inline-block;
  }

  .main-visual .mv-txt h2 img {
    width: auto;
  }

  .main-visual .mv-txt h2 span {
    font-size: 16px;
    line-height: 2.5;
    color: #f5a813;
    text-align: left;
  }

  .main-visual .mv-img {
    width: 1240px;
    padding-top: 620px;
    background-image: url(/assets/images/pages/case/sec_mv_img01_md.png);
    border-bottom-left-radius: 15px;
  }

  /* sec-caselist */
  .sec-caselist__content {
    margin: 65px 0 0;
  }

  .sec-mv__ttl img,
  .sec-casedetail .sec-content__ttl img,
  .sec-casedetail .sec-content__ttl02 img {
    width: auto;
    height: auto;
  }

  .sec-caselist .content-item {
    margin-bottom: 120px;
  }

  .sec-caselist .content-item .content-item__link {
    width: 100%;
  }

  .sec-caselist .content-item__img .img {
    padding-top: 420px;
  }

  .sec-caselist .content-item__img .img--01 {
    background-image: url(/assets/images/pages/case/sec_case_img01_md.jpg);
  }

  .sec-caselist .content-item__img .img--02 {
    background-image: url(/assets/images/pages/case/sec_case_img02_md.jpg);
  }

  .sec-caselist .content-item__img .img--03 {
    background-image: url(/assets/images/pages/case/sec_case_img03_md.jpg);
  }

  .sec-caselist .content-item__txts {
    height: calc(100% - 360px);
    padding: 57px 150px 65px 39px;
    margin: -61px 36px 0;
  }

  .sec-caselist .content-item .item-label {
    width: 108px;
    height: 30px;
    font-size: 13px;
  }

  .sec-caselist .content-item .item-ttl {
    margin-bottom: 14px;
    font-size: 24px;
    letter-spacing: 0.15em;
  }

  .sec-caselist .content-item .item-txt {
    font-size: 14px;
  }

  .sec-caselist .content-item .item-btn {
    right: 40px;
    width: 60px;
    height: 60px;
  }

  .sec-caselist__btn {
    margin: 0;
  }

  .sec-caselist__btn .case-btn-txt {
    font-size: 16px;
  }

  .pagination {
    padding-bottom: 160px;
    margin-top: -20px;
  }

  /* sec-casedetail */
  .pc {
    display: block;
  }

  .sp {
    display: none;
  }

  .fll {
    float: left;
  }

  .flr {
    float: right;
  }

  .sec-casedetail__mv {
    padding: 0 0 130px 0;
  }

  .sec-casedetail__mv .l-container--xl-wide {
    max-width: 90%;
  }

  .sec-casedetail__mv .description {
    margin-top: 140px;
  }

  .sec-casedetail .sec-content__ttl {
    margin-bottom: 90px;
    font-size: ;
  }

  .sec-casedetail .sec-content__03.last-block .sec-content__ttl {
    margin-bottom: 78px;
  }

  .sec-casedetail .sec-content__01,
  .sec-casedetail .sec-content__02 {
    margin-bottom: 95px;
  }

  .sec-casedetail .sec-content__03 {
    margin-bottom: 97px;
  }

  .sec-casedetail .sec-content__03.last-block {
    margin-bottom: 130px;
  }

  .sec-casedetail .sec-content__01 .sec-content__desc {
    padding-right: 35px;
  }

  .sec-casedetail .sec-content__02 .sec-content__desc {
    padding-left: 35px;
  }

  .sec-content__desc .sec-description__txt {
    margin-top: 35px;
  }
}

@media (max-width: 767.98px) {
  .sec-casedetail {
    padding-bottom: 50px;
  }

  /* sec-caselist */
  .sec-caselist .content-item {
    margin: 0 auto 50px;
  }

  .sec-caselist .case-menu ul li:first-child {
    width: 100%;
    margin-right: 0;
  }

  .sec-caselist .case-menu ul li a {
    width: 100%;
    height: 55px;
    margin-right: 0;
    font-size: 14px;
    letter-spacing: 0.1em;
  }

  .sec-caselist .case-menu ul li {
    width: 48%;
    margin-bottom: 10px;
  }

  .sec-caselist .l-row {
    justify-content: space-between;
  }

  .l-row.sec-caselist__content {
    padding-bottom: 80px;
    margin-top: 0;
  }

  .sec-caselist .content-item__txts {
    padding: 45px 82px 43px 22.5px;
    border-radius: 7px;
  }

  .sec-caselist .case-menu {
    margin-bottom: 30px;
  }

  .sec-caselist .content-item .item-label {
    width: 87px;
    font-size: 11px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .sec-caselist .content-item .item-ttl {
    margin-bottom: 12px;
    font-size: 18px;
  }

  .pagination {
    display: none;
  }

  /* sec-casedetail */
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .fll,
  .flr {
    float: none;
  }

  .sec-casedetail__mv {
    padding: 0 0 60px 0;
  }

  .sec-casedetail__mv.l-container,
  .sec-casedetail__mv .l-container--xl-wide {
    padding: 0;
  }

  .casedetail-img {
    width: 100%;
  }

  .sec-casedetail__mv .description {
    width: 100%;
    padding: 0 30px;
    margin-top: 40px;
  }

  .description .ttl01 {
    width: 87px;
    height: 25px;
    font-size: 11px;
    border-radius: 4px;
  }

  .description .name-txt {
    margin-left: 17px;
    font-size: 14px;
  }

  .sec-description__ttl {
    margin: 20px 0;
    font-size: 21px;
  }

  .description ul li {
    height: auto;
    padding: 3px 15px;
    font-size: 12px;
  }

  .sec-description__txt {
    margin-top: 35px;
  }

  .sec-casedetail .sec-content__ttl::before {
    bottom: -25px;
  }

  .sec-casedetail .sec-content__ttl {
    margin-bottom: 60px;
    font-size: 20px;
  }

  .sec-casedetail .sec-content__01 .sec-content__desc,
  .sec-casedetail .sec-content__02 .sec-content__desc {
    margin-top: 35px;
  }

  .sec-casedetail .sec-content__03 .sec-content__img {
    margin: 35px -30px 0;
  }

  .sec-casedetail .sec-content__desc h3 {
    font-size: 18px;
  }

  .sec-description__txt {
    margin-top: 20px;
  }

  .sec-casedetail .sec-content__01,
  .sec-casedetail .sec-content__02 {
    margin-bottom: 50px;
  }

  .sec-casedetail .sec-content__03 {
    margin-bottom: 60px;
  }

  .sec-popular {
    padding: 70px 0 0;
    background: linear-gradient(to bottom, #fff 10%, #fff9ef 50%);
  }

  .sec-casedetail .sec-content__ttl02 {
    margin-bottom: 40px;
  }

  .sec-casedetail .sec-caselist .content-item:last-child {
    margin-bottom: 0;
  }

  .c-link-btn--arrow.detail-icon img {
    display: inline-block;
  }

  .casedetail-btn {
    width: 100%;
    margin: 0 auto 70px;
  }

  .casedetail-btn img {
    display: inline-block;
    margin-top: -3px;
  }

  .casedetail-btn__inner .c-link-btn {
    width: 48%;
    margin: 0;
  }

  .casedetail-btn .sp .c-link-btn {
    width: 100%;
    margin-top: 15px;
  }

  .casedetail-btn .sec-caselist__btn.c-link-btn--arrow::after {
    display: none;
  }

  .casedetail-btn .c-link-btn img {
    margin-left: 15px;
  }

  .casedetail-btn .c-link-btn.prev-arrow img {
    margin: -3px 15px 0 0;
  }
}
