@charset "utf-8";

/*-----------------------------------------------------
html
-------------------------------------------------------*/
html{
	overflow-y:scroll;
}

/*-----------------------------------------------------
body
-------------------------------------------------------*/
body{
	font-size:13px;
	font-size:82%\9;
	color:#343c47;
	line-height:1.7;
	letter-spacing:0.03em;
	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Arial,Osaka,Sans-Serif;
	background:url("../../images/common/body_bg.gif") repeat 0 0;
}
input,textarea{
	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Arial,Osaka,Sans-Serif;
}

/* for IE6 */
* html body{
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
* html input,* html textarea{
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

/*-----------------------------------------------------
a
-------------------------------------------------------*/
a{
	outline:none;
}
a:link,
a:visited{
	color:#5879BC;
	text-decoration:underline;
}
a:hover,
a:active{
	color:#333333;
	text-decoration:none;
}

/*-----------------------------------------------------
nonvisual-menu
-------------------------------------------------------*/
div.nonvisual-menu{
	width:0;
	height:0;
	font-size:1px;
	line-height:1px;
	overflow:hidden;
	/* except MacIE \*/position: absolute;/* end */
	left:0;
	top:0;
	color:#fff;
}

div.nonvisual-menu a{
	text-decoration:none;
	font-size:1px;
	line-height:1px;
	color:#fff;
}
#main-Contents img{
	position:absolute;
	border:none!important;
	height:1px;
	top:0px;
	left:0px;
}

/*-------------------------------------
Main
---------------------------------------*/
/* alert
---------------------*/
/*
#Main .alert.memo, #Modal .alert.memo{border:1px solid #6996d4;background:#ebf2f8;}
#Main .alert.comp, #Modal .alert.comp{border:1px solid #5e884a;background:#e3f0d7;}
#Main .alert.note, #Modal .alert.note{border:1px solid #e2dc58;background:#fefdcc;}
#Main .alert.error, #Modal .alert.error{border:1px solid #cc8e8d;background:#f8e1e0;}
*/

#Main .alert.memo, #Modal .alert.memo{border:1px solid #6996d4;background:url('../../images/common/alert_ico_memo.gif') #ebf2f8 no-repeat 10px 50%;}
#Main .alert.comp, #Modal .alert.comp{border:1px solid #5e884a;background:url('../../images/common/alert_ico_comp.gif') #e3f0d7 no-repeat 10px 50%;}
#Main .alert.note, #Modal .alert.note{border:1px solid #e2dc58;background:url('../../images/common/alert_ico_note.gif') #fefdcc no-repeat 10px 50%;}
#Main .alert.error, #Modal .alert.error{border:1px solid #cc8e8d;background:url('../../images/common/alert_ico_error.gif') #f8e1e0 no-repeat 10px 50%;}

/* icon */
#Main .alert .icon,
#Modal .alert .icon{
	width:17px;
	display:block;
	float:left;
	margin:0 10px 0 10px;
	text-indent:-9999px;
	overflow:hidden;
}
/*
#Main .alert.memo .icon, #Modal .alert.memo .icon{background:url("../../images/common/alert_ico_memo.gif") no-repeat 0 4px;}
#Main .alert.comp .icon, #Modal .alert.comp .icon{background:url("../../images/common/alert_ico_comp.gif") no-repeat 0 3px;}
#Main .alert.note .icon, #Modal .alert.note .icon{background:url("../../images/common/alert_ico_note.gif") no-repeat 0 3px;}
#Main .alert.error .icon, #Modal .alert.error .icon{background:url("../../images/common/alert_ico_error.gif") no-repeat 0 3px;}
*/
/* line */
#Main .alert p.line{
	margin:0 0 0 32px;
}

/* btn-type
---------------------*/
#Main p.btn-type01,
#Modal p.btn-type01{
	width:198px;
	height:38px;
	padding:1px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	box-shadow:1px 1px 5px #E9E9E9;
	-moz-box-shadow:1px 1px 5px #E9E9E9;
	-webkit-box-shadow:1px 1px 5px #E9E9E9;
	-o-box-shadow:1px 1px 5px #E9E9E9;
	-ms-box-shadow:1px 1px 5px #E9E9E9;
	background:#F7901E;
	font-weight:bold;
}
#Main p.btn-type01 input,
#Main p.btn-type01 span,
#Modal p.btn-type01 input,
#Modal p.btn-type01 span{
	width:198px;
	height:38px;
	display:block;
	cursor:pointer;
	font-size:124%;
	color:#FFFFFF;
	border:1px solid #FCBD5B;
	background-color:#FAAD2B;
	
	background-image:url("../svg4ie9.php?t=FAAD2B&b=F79120");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#FAAD2B),to(#F79120));
	background-image:-webkit-linear-gradient(top,#FAAD2B,#F79120);
	background-image:-moz-linear-gradient(top,#FAAD2B,#F79120);
	background-image:-ms-linear-gradient(top,#FAAD2B,#F79120);
	background-image:-o-linear-gradient(top,#FAAD2B,#F79120);
	-pie-background:linear-gradient(top,#FAAD2B,#F79120);
	
	font-weight:bold;
}
#Main p.btn-type01.hover input,
#Main p.btn-type01.hover span,
#Modal p.btn-type01.hover input,
#Modal p.btn-type01.hover span{
	border:none;
	background-color:#F07411;
	
	background-image:url("../svg4ie9.php?t=F07411&b=FBAC29");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#F07411),to(#FBAC29));
	background-image:-webkit-linear-gradient(top,#F07411,#FBAC29);
	background-image:-moz-linear-gradient(top,#F07411,#FBAC29);
	background-image:-ms-linear-gradient(top,#F07411,#FBAC29);
	background-image:-o-linear-gradient(top,#F07411,#FBAC29);
	-pie-background:linear-gradient(top,#F07411,#FBAC29);
}

#Main p.btn-type02,
#Modal p.btn-type02{
	width:198px;
	height:38px;
	padding:1px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	box-shadow:1px 1px 5px #E9E9E9;
	-moz-box-shadow:1px 1px 5px #E9E9E9;
	-webkit-box-shadow:1px 1px 5px #E9E9E9;
	-o-box-shadow:1px 1px 5px #E9E9E9;
	-ms-box-shadow:1px 1px 5px #E9E9E9;
	background:#C6DAE4;
	
	font-weight:bold;
}
#Main p.btn-type02 input,
#Main p.btn-type02 span,
#Modal p.btn-type02 input,
#Modal p.btn-type02 span{
	width:198px;
	height:38px;
	display:block;
	cursor:pointer;
	font-size:124%;
	color:#343c47;
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
	
	background-image:url("../svg4ie9.php?t=FFFFFF&b=E8F0F9");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFFFFF),to(#E8F0F9));
	background-image:-webkit-linear-gradient(top,#FFFFFF,#E8F0F9);
	background-image:-moz-linear-gradient(top,#FFFFFF,#E8F0F9);
	background-image:-ms-linear-gradient(top,#FFFFFF,#E8F0F9);
	background-image:-o-linear-gradient(top,#FFFFFF,#E8F0F9);
	-pie-background:linear-gradient(top,#FFFFFF,#E8F0F9);
	
	font-weight:bold;
}
#Main p.btn-type02.hover input,
#Main p.btn-type02.hover span,
#Modal p.btn-type02.hover input,
#Modal p.btn-type02.hover span{
	border:none;
	background-color:#E7EFF7;
	
	background-image:url("../svg4ie9.php?t=E7EFF7&b=F6FAFC");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#E7EFF7),to(#F6FAFC));
	background-image:-webkit-linear-gradient(top,#E7EFF7,#F6FAFC);
	background-image:-moz-linear-gradient(top,#E7EFF7,#F6FAFC);
	background-image:-ms-linear-gradient(top,#E7EFF7,#F6FAFC);
	background-image:-o-linear-gradient(top,#E7EFF7,#F6FAFC);
	-pie-background:linear-gradient(top,#E7EFF7,#F6FAFC);
}
#Main p.btn-type03{
	width:auto;
	height:36px;
	padding:0 0 10px 0;
	clear:both;
}
#Main p.btn-type03 a{
	width:auto;
	height:36px;
	display:block;
	padding: 0 5px;
	text-align:center;
	line-height:36px;
	color:#5879BC;
	text-decoration:none;
	border:1px solid #cbd9e3;
	background-color:#FFFFFF;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	
	box-shadow:0 1px 3px #e9e8e8;
	-moz-box-shadow:0 1px 3px #e9e8e8;
	-webkit-box-shadow:0 1px 3px #e9e8e8;
	-o-box-shadow:0 1px 3px #e9e8e8;
	-ms-box-shadow:0 1px 3px #e9e8e8;
	
	background-image:url("../svg4ie9.php?t=FFFFFF&b=e9eff7");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFFFFF),to(#e9eff7));
	background-image:-webkit-linear-gradient(top,#FFFFFF,#e9eff7);
	background-image:-moz-linear-gradient(top,#FFFFFF,#e9eff7);
	background-image:-ms-linear-gradient(top,#FFFFFF,#e9eff7);
	background-image:-o-linear-gradient(top,#FFFFFF,#e9eff7);
	-pie-background:linear-gradient(top,#FFFFFF,#e9eff7);
}
#Main p.btn-type03 a:hover{
	/*
	color:#FFFFFF;
	background:url() no-repeat 0 0 #6180c0;
	
	background-image:url("../svg4ie9.php?t=6180c0&b=6180c0");
	-pie-background:linear-gradient(top,#6180c0,#6180c0);
	*/
	background:#FFFFFF;
	
	background-image:url("../svg4ie9.php?t=E7EFF7&b=F6FAFC");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#E7EFF7),to(#F6FAFC));
	background-image:-webkit-linear-gradient(top,#E7EFF7,#F6FAFC);
	background-image:-moz-linear-gradient(top,#E7EFF7,#F6FAFC);
	background-image:-ms-linear-gradient(top,#E7EFF7,#F6FAFC);
	background-image:-o-linear-gradient(top,#E7EFF7,#F6FAFC);
	-pie-background:linear-gradient(top,#E7EFF7,#F6FAFC);
}
#Main p.btn-type03 a span{
	padding-left:20px;
	background:url(../../images/common/ico_delete.gif) no-repeat 0 50%;

}
#Main p.btn-type03 a:hover span{
	/*
	padding-left:20px;
	background:url(../../images/common/ico_delete_on.gif) no-repeat 0 50%;
	*/
}

/*
*/
#Main p.btn-type01 span,
#Main p.btn-type02 span,
#Modal p.btn-type01 span,
#Modal p.btn-type02 span{
	display:block;
	text-align:center;
	line-height:38px;
	border:none;
}
#Main p.btn-type01 a,
#Main p.btn-type02 a,
#Modal p.btn-type01 a,
#Modal p.btn-type02 a{
	text-decoration:none;
}


/* input
---------------------*/
#Main .input-usually{
	display:inline-block;
	padding:3px 4px 3px 4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	background:#EFEFEF;
}
#Main .input-usually input{
	vertical-align:middle;
}
#Main .input-usually input,
#Main .input-usually textearea{
	padding:3px 5px 3px 5px;
	font-size:100%;
	border:1px solid #E2E2E2;
	background:#FFFFFF;
}
#Main .input-usually.input-focus{
	background:#E9F1F9;
}
#Main .input-usually.input-focus input,
#Main .input-usually.input-focus textearea{
	border:1px solid #C8DAE5;
}



/* Modal
---------------------*/
#Modal{
	display:none;
	z-index:1001;
	position:absolute;
	background:url(../../images/common/modal_bg.png);
	left:0;
	top:0;
}
#Modal .box{
	display:none;
	position:absolute;
}
#Modal .box-inside{
	border:8px solid #C6DAE3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-pie-border-radius:5px;
	background:#FFFFFF;
}

#Modal .box p.btn-close{
	overflow:hidden;
}
#Modal .box p.btn-close a{
	background:url(../../images/common/btn_modal_close.png) no-repeat;
	text-indent:-9999px;
	display:block;
	width:16px;
	height:16px;
	float:right;
	margin-bottom:10px;
}

/* tab
---------------------*/
#Main ul.tab{
	width:100%;
	height:40px;
	margin:10px 0 15px 0;
	background:url("../../images/common/tab_bg_line.gif") repeat-x 0 100%;
}
#Main ul.tab li{
	height:40px;
	overflow:hidden;
	float:left;
	display:inline;
	margin:0 10px 0 0;
	background:url("../../images/common/tab_bg.gif") repeat-x 0 100%;
	zoom:1;
}
#Main ul.tab li a{
	height:39px;
	padding:0 20px 0 20px;
	display:block;
	position:relative;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	border:1px solid #6996D4;
	border-bottom:none;
	color:#373737;
	text-decoration:none;
	background:url("../../images/common/tab_bg.gif") repeat-x 0 0;
	
	/* CSS3 */
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-ms-border-radius:3px 3px 0 0;
}
#Main ul.tab li a:hover,
#Main ul.tab li.on a{
	background:#FFF;
}
