@charset "utf-8";

/*-----------------------------------------------------
RESET
-------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-style:normal;
	vertical-align:baseline;
	background:transparent;
}

body{
	line-height:1.4;
	background:#fff;
	color:#333;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary{
	display: block;
}

nav ul{
	list-style: none;
}

ul,ol,li,dl,dt,dd{
	list-style-type:none;
	list-style-position:outside;
}
blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

a{
	margin: 0;
	padding: 0;
	outline:none;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark{
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}
del{
	text-decoration: line-through;
}
abbr[title], dfn[title]{
	border-bottom: 1px dotted #000;
	cursor: help;
}
table{
	border-spacing:0;
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
img{
	border:0;
	vertical-align:top;
}
br{
	letter-spacing:0;
}
button,fieldset,form,input,label,legend,select,textarea{
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
select{
	padding:2px;
}


/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.1
*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}