.sec-head .l-container {
  max-width: 1160px;
  margin: 0 auto;
}

.sec-head .l-container .sec-head__ttl {
  text-align: center;
}

.sec-head .l-container .tel-wrap {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 40px;
}

.sec-head .l-container .tel-wrap {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 40px;
}

.sec-head .l-container .tel-wrap .img {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
}

@media (max-width: 767px) {
  .sec-head .l-container .sec-head__ttl {
    margin-bottom: 55px;
  }
}

@media (min-width: 768px) {
  .sec-head .l-container .sec-head__ttl {
    margin-bottom: 150px;
  }

  .sec-head .l-container .sec-head__ttl img {
    width: auto;
    height: auto;
  }

  .sec-head .l-container .tel-wrap .img img {
    width: auto;
    height: auto;
  }
}

.flex-wrap {
  display: flex;
  width: 100%;
}

.flex-wrap .txt {
  padding: 0 15px;
}

.flex-wrap .form-control {
  padding: 0 10px;
}

.flex-wrap .item {
  display: flex;
  align-items: center;
  width: 33.3333%;
}

@media (max-width: 767px) {
  .flex-wrap {
    flex-direction: column;
  }

  .flex-wrap .item {
    width: 100%;
  }

  .flex-wrap .txt {
    padding: 0 10px;
  }

  .flex-wrap .item {
    margin-bottom: 10px;
  }

  .flex-wrap .item:last-child {
    margin-bottom: 0;
  }
}
