@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/



/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


/* btn-type01
---------------------*/
#Pc #Main .section .btn-type01{
	margin-bottom:20px;
}

/* table-list
---------------------*/
#Pc #Main .section .table-list{
	width:100%;
	margin:0 0 20px 0;
	border:1px solid #cbd9e3;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	display:table !important;
	overflow:hidden;
}
#Pc #Main .section .table-list thead .lt{
	border-radius:5px 0 0 0;
	-webkit-border-radius:5px 0 0 0;
	-moz-border-radius:5px 0 0 0;
}
#Pc #Main .section .table-list thead .rt{
	border-radius:0 5px 0 0;
	-webkit-border-radius:0 5px 0 0;
	-moz-border-radius:0 5px 0 0;
}
#Pc #Main .section .table-list thead th,
#Pc #Main .section .table-list thead td{
	padding:10px 12px 10px 12px;
	text-align:center;
	
	background-image:url("../../css/svg4ie9.php?t=eff6ff&b=e4edfd");
	background:-moz-linear-gradient(top,#eff6ff,#e4edfd);
	background:-webkit-gradient(linear,left top,left bottom,from(#eff6ff),to(#e4edfd));
	-pie-background:linear-gradient(top,#eff6ff,#e4edfd);
	
	/*
	box-shadow:3px 1px 3px #C3C8D0;
	-moz-box-shadow:3px 1px 3px #C3C8D0;
	-webkit-box-shadow:3px 1px 3px #C3C8D0;
	*/
	border-bottom:1px solid #D2E0E9;
}
#Pc #Main .section .table-list tbody tr th,
#Pc #Main .section .table-list tbody tr td{
	padding:10px 12px 10px 12px;
	text-align:center;
	vertical-align:middle;
	background-repeat:repeat-x;
	background-position:0 100%;
	background-image:url("../../images/common/table_bg_border.gif");
}
#Pc #Main .section .table-list tbody tr.odd th,
#Pc #Main .section .table-list tbody tr.odd td{
	background-color:#f7f9fb;
}
#Pc #Main .section .table-list tbody tr.last th,
#Pc #Main .section .table-list tbody tr.last td{
	background-image:url("");
}
#Pc #Main .section .table-list tbody tr.highlight th,
#Pc #Main .section .table-list tbody tr.highlight td{
	background-color:#fbf8e9 !important;
	-o-transition:all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#Pc #Main .section .table-list tbody tr td.name{}
#Pc #Main .section .table-list tbody tr td.account{}
#Pc #Main .section .table-list tbody tr td.mail{}
#Pc #Main .section .table-list tbody tr td.authority{}
#Pc #Main .section .table-list tbody tr td.edit{padding:5px 0;}

#Pc #Main .section .table-list tbody tr th img,
#Pc #Main .section .table-list tbody tr td img{
	margin:0 7px 0 7px;
	vertical-align:middle;
}
#Pc #Main .section p.btn-type03,
#Pc #Main .section p.btn-type03 a{
	width:175px;
}


/* toolTip
---------------------*/
#Pc #Main p.toolTip{
	width:60px;
}
#Pc #Main p.toolTip span.arrow{
	left:25px;
}
#Pc #Main p.toolTip span.text{
	text-align:center;
}


/* btn
---------------------*/
#Pc #Modal .box div.btn{
	width:350px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Modal .box div.btn.btn-one{
    width:160px !important;
}

#Modal p.btn-type01,
#Modal p.btn-type01 input,
#Modal p.btn-type01 span,
#Modal p.btn-type02,
#Modal p.btn-type02 input,
#Modal p.btn-type02 span{
	width:158px;
}
#Pc #Modal .box div.btn p{
	float:left;
}
#Pc #Modal .box div.btn p.btn-type02{
	margin-left:30px;
}
#Modal .box div.btn.btn-one p.btn-type02{
	margin-left:0 !important;
}

#Pc #Modal #box-regist .box-inside{
	text-align:center;
}


/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

/* btn-type01
---------------------*/
#Smp #Main .section .btn-type01{
	margin:10px auto;
}

/* btn-type03
---------------------*/
#Smp #Main .section .btn-type03{
	margin:0 auto 10px auto;
	padding:10px 0 0 0;
}

/* list
---------------------*/
#Smp #Main .section ul.list{
	clear:both;
}
#Smp #Main .section ul.list li{
	overflow:hidden;
	border-bottom:1px solid #9FB4C5;
	padding:15px 10px;
	background:url("../../images/index/list_ico_arrow.gif") no-repeat 97% 50%;
	background-size:9px 13px;
}
#Smp #Main .section ul.list p.check{
	float:left;
	width:25px;
}
#Smp #Main .section ul.list div.text{
	margin-left:25px;
}
#Smp #Main .section ul.list div.text p{
	float:left;
	width:42%;
}
#Smp #Main .section ul.list div.text p.long {
	width:87%;
}
#Smp #Main .section ul.list a.location{
	display:none;
}


/* btn
---------------------*/
#Smp #Modal .box div.btn{
	width:245px;
	margin:25px auto 0 auto;
	overflow:hidden;
}
#Smp #Modal .box div.btn p{
	float:left;
	margin:0 10px;
}

#Smp #Main .section p.btn-type03,
#Smp #Main .section p.btn-type03 a{
	width:175px;
}

