@charset "utf-8";

body{
	font-size:13px;
}

/*-----------------------------------------------------
ALIGN
-------------------------------------------------------*/
.M-align-left{text-align:left !important;}
.M-align-center{text-align:center !important;}
.M-align-right{text-align:right !important;}

/* FONT-SIZE
------------------------------------*/
.M-size-txt-ss  {font-size:77% !important;}
.M-size-txt-s   {font-size:85% !important;}
.M-size-txt-m   {font-size:93% !important;}
.M-size-txt     {font-size:100% !important;}
.M-size-txt-l   {font-size:108% !important;}
.M-size-txt-xl  {font-size:116% !important;}
.M-size-txt-xxl {font-size:124% !important;}
.M-size-txt-xxxl{font-size:131% !important;}

/*-----------------------------------------------------
LIST
-------------------------------------------------------*/
/* 円 */
ul.M-circle{padding:0 0 0 15px;}
ul.M-circle li{list-style:circle;}

/* 四角 */
ul.M-square{padding:0 0 0 15px;}
ul.M-square li{list-style:square;}

/*ローマ数字（小文字） */
ol.M-lower-roman{padding:0 0 0 15px;}
ol.M-lower-roman li{list-style:lower-roman;}

/*ローマ数字（大文字） */
ol.M-upper-roman{padding:0 0 0 15px;}
ol.M-upper-roman li{list-style:upper-roman;}

/* アルファベット（小文字） */
ol.M-lower-alpha{padding:0 0 0 25px;}
ol.M-lower-alpha li{list-style:lower-alpha;}

/* アルファベット（大文字） */
ol.M-upper-alpha{padding:0 0 0 25px;}
ol.M-upper-alpha li{list-style:upper-alpha;}

/* 数字 */
ol.M-decimal{padding:0 0 0 32px;}
ol.M-decimal li{list-style:decimal;}

/* リスト無し */
ul.M-lsn,
ul.M-lsn li{list-style-type:none;}
ul.M-lsn{margin-left:0;padding:0;}

/*-----------------------------------------------------
MARGIN
-------------------------------------------------------*/
/* MARGIN-TOP */
.M-mt00{margin-top:0px !important;}
.M-mt05{margin-top:5px !important;}
.M-mt10{margin-top:10px !important;}
.M-mt15{margin-top:15px !important;}
.M-mt20{margin-top:20px !important;}
.M-mt25{margin-top:25px !important;}
.M-mt30{margin-top:30px !important;}
.M-mt40{margin-top:40px !important;}
.M-mt50{margin-top:50px !important;}

/* MARGIN-RIGHT */
.M-mr00{margin-right:0px !important;}
.M-mr05{margin-right:5px !important;}
.M-mr10{margin-right:10px !important;}
.M-mr15{margin-right:15px !important;}
.M-mr20{margin-right:20px !important;}
.M-mr25{margin-right:25px !important;}
.M-mr30{margin-right:30px !important;}
.M-mr40{margin-right:40px !important;}
.M-mr50{margin-right:50px !important;}

/* MARGIN-BOTTOM */
.M-mb00{margin-bottom:0 !important;}
.M-mb05{margin-bottom:5px !important;}
.M-mb10{margin-bottom:10px !important;}
.M-mb15{margin-bottom:15px !important;}
.M-mb20{margin-bottom:20px !important;}
.M-mb25{margin-bottom:25px !important;}
.M-mb30{margin-bottom:30px !important;}
.M-mb40{margin-bottom:40px !important;}
.M-mb50{margin-bottom:50px !important;}
.M-mb60{margin-bottom:60px !important;}

/* MARGIN-LEFT */
.M-ml00{margin-left:0px !important;}
.M-ml05{margin-left:5px !important;}
.M-ml10{margin-left:10px !important;}
.M-ml15{margin-left:15px !important;}
.M-ml20{margin-left:20px !important;}
.M-ml25{margin-left:25px !important;}
.M-ml30{margin-left:30px !important;}
.M-ml40{margin-left:40px !important;}
.M-ml50{margin-left:50px !important;}

/* MARGIN-ALL */
.M-ma00{margin:0px !important;}
.M-ma05{margin:5px !important;}
.M-ma10{margin:10px !important;}
.M-ma15{margin:15px !important;}
.M-ma20{margin:20px !important;}
.M-ma25{margin:25px !important;}
.M-ma30{margin:30px !important;}
.M-ma40{margin:40px !important;}
.M-ma50{margin:50px !important;}


/*-----------------------------------------------------
PADDING
-------------------------------------------------------*/
/* PADDING-TOP */
.M-pt00{padding-top:0px !important;}
.M-pt05{padding-top:5px !important;}
.M-pt10{padding-top:10px !important;}
.M-pt15{padding-top:15px !important;}
.M-pt20{padding-top:20px !important;}
.M-pt30{padding-top:30px !important;}
.M-pt40{padding-top:40px !important;}
.M-pt50{padding-top:50px !important;}

/* PADDING-BOTTOM */
.M-pb00{padding-bottom:0px !important;}
.M-pb05{padding-bottom:5px !important;}
.M-pb10{padding-bottom:10px !important;}
.M-pb15{padding-bottom:15px !important;}
.M-pb20{padding-bottom:20px !important;}
.M-pb30{padding-bottom:30px !important;}
.M-pb40{padding-bottom:40px !important;}
.M-pb50{padding-bottom:50px !important;}

/* PADDING-LEFT */
.M-pl00{padding-left:0px !important;}
.M-pl05{padding-left:5px !important;}
.M-pl10{padding-left:10px !important;}
.M-pl15{padding-left:15px !important;}
.M-pl20{padding-left:20px !important;}
.M-pl30{padding-left:30px !important;}
.M-pl40{padding-left:40px !important;}
.M-pl50{padding-left:50px !important;}

/* PADDING-RIGHT */
.M-pr00{padding-right:0px !important;}
.M-pr05{padding-right:5px !important;}
.M-pr10{padding-right:10px !important;}
.M-pr15{padding-right:15px !important;}
.M-pr20{padding-right:20px !important;}
.M-pr30{padding-right:30px !important;}
.M-pr40{padding-right:40px !important;}
.M-pr50{padding-right:50px !important;}

/* PADDING-ALL */
.M-pa00{padding:0px !important;}
.M-pa05{padding:5px !important;}
.M-pa10{padding:10px !important;}
.M-pa15{padding:15px !important;}
.M-pa20{padding:20px !important;}
.M-pa30{padding:30px !important;}
.M-pa40{padding:40px !important;}
.M-pa50{padding:50px !important;}


/*-----------------------------------------------------
Header
-------------------------------------------------------*/
#Container{
	padding:25px 0;
	color:#343c47;
}


/*-----------------------------------------------------
Header
-------------------------------------------------------*/
#Header{
	width:920px;
	overflow:hidden;
	margin:0 auto;
	padding:5px 5px 0;
	background:url(../images/common/header_bg.gif) no-repeat 0 0;
}
/* h1,.logo
---------------------*/
#Header h1,
#Header p.logo{
	padding:14px 0 12px 18px;
}


/*-----------------------------------------------------
Global
-------------------------------------------------------*/
#GlobalNav{
}


/*-----------------------------------------------------
#Content
-------------------------------------------------------*/
#Content{
	width:930px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
}
#Content div.content-inline{
	width:930px;
	overflow:hidden;
	margin:0 auto;
	padding:20px 0 30px;
	background:url(../images/common/content_bg_loop.gif) repeat-y 0 0;
}

/*-------------------------------------
Main
---------------------------------------*/
#Main{
	width:660px;
	margin:0 25px 0 0;
	float:right;
	display:inline;
	background:none;
}

/* heighlight
---------------------*/
#Main .heighlight{
	color:#db431f;
}

/* att
---------------------*/
#Main .att{
	margin:0 0 0 1.5em;
	text-indent:-1.5em;
	font-size:85%;
}

/* h,title
---------------------*/
#Main h2{
	margin:0 0 20px;
}
#Main h2.bg_title {
	width:647px;
	height:37px;
	background:url(../images/common/bg_title.jpg) no-repeat 0 0;
	padding:15px 0 0 15px;
	margin-bottom:20px;
	font-size:1.4em;
	font-weight:bold;
}
#Main .circlettl{
	margin:0 0 15px;
	padding:0 0 0 15px;
	font-weight:bold;
	background:url(../images/common/content_ico_circle_navy.gif) no-repeat 0 0.8ex;
}

/* ul.circle
---------------------*/
#Main ul.circle li{
	padding:0 0 0 15px;
	background:url(../images/common/content_ico_circle_navy.gif) no-repeat 0 0.5ex;
}

/* lead
---------------------*/
#Main p.lead{
	padding:0 20px 30px;
}

/* capture
---------------------*/
#Main div.capture{
	width:620px;
	position:relative;
	margin:0 auto;
	text-align:center;
}
#Main div.capture li{
	position:absolute;
}

/* aside
---------------------*/
#Main div.aside{
	width:620px;
	margin:0 auto;
	background:url(../images/common/content_aside_bg_loop.gif) repeat-y 0 0;
}
#Main div.aside div.aside-outline{
	width:620px;
	background:url(../images/common/content_aside_bg_top.gif) no-repeat 0 0;
}
#Main div.aside div.aside-inline{
	width:590px;
	padding:15px;
	background:url(../images/common/content_aside_bg_btm.gif) no-repeat 0 100%;
}

/* blueblock
---------------------*/
#Main div.blueblock{
	width:620px;
	margin:0 auto;
	background:url(../images/common/content_blueblock_bg_loop.gif) repeat-y 0 0;
}
#Main div.blueblock div.blueblock-outline{
	width:620px;
	background:url(../images/common/content_blueblock_bg_top.gif) no-repeat 0 0;
}
#Main div.blueblock div.blueblock-inline{
	width:562px;
	padding:30px 29px;
	background:url(../images/common/content_blueblock_bg_btm.gif) no-repeat 0 100%;
}

/* blueblockarw
---------------------*/
#Main div.blueblockarw{
	width:560px;
	margin:0 auto;
	background:url(../images/common/content_blueblockarw_bg_loop.gif) repeat-y 0 0;
}
#Main div.blueblockarw div.blueblockarw-outline{
	width:560px;
	background:url(../images/common/content_blueblockarw_bg_top.gif) no-repeat 0 0;
}
#Main div.blueblockarw div.blueblockarw-inline{
	width:520px;
	padding:20px 20px 45px;
	background:url(../images/common/content_blueblockarw_bg_btm.gif) no-repeat 0 100%;
}
#Main div.blueblockarw div.blueblockarw-inline2{
	width:520px;
	padding:20px;
	background:url(../images/common/content_blueblockarw_bg_btm2.gif) no-repeat 0 100%;
}

/* grayblock
---------------------*/
#Main div.grayblock{
	width:620px;
	margin:0 auto;
	background:url(../images/common/content_grayblock_bg_loop.gif) repeat-y 0 0;
}
#Main div.grayblock div.grayblock-outline{
	width:620px;
	background:url(../images/common/content_grayblock_bg_top.gif) no-repeat 0 0;
}
#Main div.grayblock div.grayblock-inline{
	width:562px;
	padding:30px 29px;
	background:url(../images/common/content_grayblock_bg_btm.gif) no-repeat 0 100%;
}

/* list
---------------------*/
#Main div.list{
	width:600px;
	margin:0 auto;
	background:url(../images/common/content_list_bg_blue_loop.gif) 0 0;
}
#Main div.list div.list-inline{
	width:600px;
	padding:5px 0 0;
	background:url(../images/common/content_list_bg_blue_top.gif) no-repeat 0 0;
}
#Main div.list ul{
	width:600px;
	padding:0 0 6px;
	background:url(../images/common/content_list_bg_blue_btm.gif) no-repeat 0 100%;
}
#Main div.list ul li{
	width:560px;
	overflow:hidden;
	padding:15px 20px;
	background:url(../images/common/content_bg_dotted_blue.gif) repeat-x 0 100%;
}
#Main div.list ul li.odd{
	background:url(../images/common/content_list_bg_white.gif) no-repeat 0 100%;
}
#Main div.list ul li.first{
	padding:9px 20px 15px;
}
#Main div.list ul li.last{
	padding:15px 20px 9px;
	background:none;
}

/* content-in
---------------------*/
/* in-border */
#Main div.in-border{
	width:562px;
	margin:0 auto;
	background:url(../images/common/content_in_border_bg_loop.gif) repeat-y 0 0;
}
#Main div.in-border-outline{
	width:562px;
	background:url(../images/common/content_in_border_bg_top.gif) no-repeat 0 0;	
}
#Main div.in-border-inline{
	width:510px;
	padding:25px 26px;
	background:url(../images/common/content_in_border_bg_btm.gif) no-repeat 0 100%;	
}

/* aside */
#Main div.in-aside{
	width:560px;
	margin:0 auto;
	background:url(../images/common/content-in-aside_bg_loop.gif) repeat-y 0 0;
}
#Main div.in-aside-outline{
	width:560px;
	background:url(../images/common/content-in-aside_bg_top.gif) no-repeat 0 0;
}
#Main div.in-aside-inline{
	width:540px;
	padding:10px;
	background:url(../images/common/content-in-aside_bg_btm.gif) no-repeat 0 100%;
}

/* aside-whblock */
#Main div.in-aside-whblock{
	width:540px;
	margin:0 auto;
	background:url(../images/common/content-in-aside_whblock_bg_loop.gif) repeat-y 0 0;
}
#Main div.in-aside-whblock-outline{
	width:540px;
	background:url(../images/common/content-in-aside_whblock_bg_top.gif) no-repeat 0 0;
}
#Main div.in-aside-whblock-inline{
	width:510px;
	padding:15px;
	background:url(../images/common/content-in-aside_whblock_bg_btm.gif) no-repeat 0 100%;
}

/* waside */
#Main  div.in-waside{
	width:560px;
	margin:0 auto;
	background:url(../images/common/content-in-waside_bg_loop.gif) repeat-y 0 0;
}
#Main div.in-waside-outline{
	width:560px;
	background:url(../images/common/content-in-waside_bg_top.gif) no-repeat 0 0;
}
#Main div.in-waside-inline{
	width:520px;
	padding:20px;
	background:url(../images/common/content-in-waside_bg_btm.gif) no-repeat 0 100%;
}

/* in-list */
#Main div.in-list{
	width:560px;
	margin:0 auto;
	background:url(../images/common/content_in_list_bg_blue_loop.gif) 0 0;
}
#Main div.in-list div.in-list-inline{
	width:560px;
	padding:6px 0 0;
	background:url(../images/common/content_in_list_bg_blue_top.gif) no-repeat 0 0;
}
#Main div.in-list ol{
	width:560px;
	padding:0 0 6px;
	background:url(../images/common/content_in_list_bg_blue_btm.gif) no-repeat 0 100%;
}
#Main div.in-list ol li{
	width:520px;
	overflow:hidden;
	padding:15px 20px;
	background:url(../images/common/content_bg_dotted_blue.gif) repeat-x 0 100%;
}
#Main div.in-list ol li.odd{
	background:url(../images/common/content_in_list_bg_white.gif) no-repeat 0 100%;
}
#Main div.in-list ol li.first{
	padding:9px 20px 15px;
}
#Main div.in-list ol li.last{
	padding:15px 20px 9px;
	background:none;
}

/*-------------------------------------
Side
---------------------------------------*/
#Side{
	width:206px;
	margin:0 0 0 25px;
	float:left;
	display:inline;
	background:none;
}
/* dl
---------------------*/
/* default */
#Side dl{
	padding:0 0 4px;
	background:url(../images/common/side_navi_bg_last_btm.gif) no-repeat 0 100%;
}
#Side dl.hov{
	background:url(../images/common/side_navi_bg_last_btm_on.gif) no-repeat 0 100%;
}
#Side dl dt{
	background:url(../images/common/side_navi_bg.gif) repeat-y 0 0;
}
#Side dl dt span{
	display:block;
	background:url(../images/common/side_navi_bg_top.gif) no-repeat 0 0;
}
#Side dl dt a{
	width:146px;
	display:block;
	padding:14px 25px 13px 35px;
	background:url(../images/common/side_navi_ico_arw.gif) no-repeat 13px 2ex;
}

#Side dl dd li{
	width:206px;
	line-height:0;
	background:url(../images/common/side_navi2_bg.gif) no-repeat 0 0;
}
#Side dl dd li p{
	line-height:0;
	background:url(../images/common/side_navi2_bg_top.gif) no-repeat 0 0;
}
#Side dl dd  li p span{
	display:block;
	line-height:0;
	background:url(../images/common/side_navi2_bg_btm.gif) no-repeat 0 0;
}
#Side dl dd li p span a{
	display:block;
	padding:14px 25px 13px 35px;
	color:#fff;
	line-height:normal;
	zoom:1;
	background:url(../images/common/side_navi_ico_arw2.gif) no-repeat 14px 2.4ex;
}

/* hover */
#Side dl dt.active,
#Side dl dt.hover,
#Side dl dt.first-hover,
#Side dl dt.last-hover{
	background:url(../images/common/side_navi_bg_on.gif) no-repeat 0 50%;
}
#Side dl dt.show{
	background:url(../images/common/side_navi_bg_on2.gif) no-repeat 0 0;
}
#Side dl dt.active span,
#Side dl dt.hover span{
	background:url(../images/common/side_navi_bg_on_top.gif) no-repeat 0 0;
}
#Side dl dt.active a,
#Side dl dt.hover a,
#Side dl dt.first-hover a,
#Side dl dt.last-hover a{
	background:url(../images/common/side_navi_ico_arw_on.gif) no-repeat 13px 2ex;
}
#Side dl dt.active a,
#Side dl dt.hover a:hover,
#Side dl dt.first-hover a:hover,
#Side dl dt.last-hover a:hover{
	color:#fff;
}

#Side dl dd li.active,
#Side dl dd li.hover{
	background:url(../images/common/side_navi2_bg_on.gif) no-repeat 0 50%;
}
#Side dl dd li.active p,
#Side dl dd li.hover p{
	background:url(../images/common/side_navi2_bg_top.gif) no-repeat 0 0;
}
#Side dl dd li.active p span,
#Side dl dd li.hover p span{
	background:url(../images/common/side_navi2_bg_btm_on.gif) no-repeat 0 100%;
}
#Side dl dd li.active p span a,
#Side dl dd li.hover p span a{
	background:url(../images/common/side_navi_ico_arw2_on.gif) no-repeat 14px 2.4ex;
}

/* first */
#Side dl dt.first span{
	background:url(../images/common/side_navi_bg_first_top.gif) no-repeat 0 0;
}
#Side dl dt.active#sn-01 span,
#Side dl dt.first-hover span{
	background:url(../images/common/side_navi_bg_first_top_on.gif) no-repeat 0 0;
}
/* last */
#Side dl dt.active#sn-13 span
#Side dl dt.last span{
	background:url(../images/common/side_navi_bg_top.gif) no-repeat 0 0;
}
#Side dl dt.last-hover span{
	background:url(../images/common/side_navi_bg_on_top.gif) no-repeat 0 0;
}
#Side dl dt.last a{
	padding:14px 25px 9px 35px;
}


/*-----------------------------------------------------
#Footer
-------------------------------------------------------*/
#Footer{
	width:930px;
	clear:both;
	margin:0 auto;
	padding:0;
	background:url(../images/common/footer_bg.gif) no-repeat 0 100%;
}
/* contact
---------------------*/
#Footer p.contact{
	padding:29px 0 30px;
	line-height:0;
}
#Footer p.contact a{
	margin:0 auto;
	line-height:0;
	font-size:0;
}
#Footer p.contact img{
	line-height:0;
}
/* address
---------------------*/
#Footer address{
	padding:13px 0 19px;
	text-align:center;
	line-height:0;
	font-size:0;
}