@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}

#Main div.grayblock div.grayblock-inline{
	width:620px;
	padding:30px 0;
	background:url(../images/common/content_grayblock_bg_btm.gif) no-repeat 0 100%;
}

/* .in-list
---------------------*/
#Main div.in-list ol{
	background:url(../images/common/content_in_list_bg_white_btm.gif) no-repeat 0 100%;
}
#Main div.in-list ol li.last{
	background:url(../images/common/content_in_list_bg_white.gif) no-repeat 0 0;
}
#Main div.in-list ol li strong{
	padding:0 0 0 30px;
	float:left;
	display:inline;
}
#Main div.in-list ol li strong img{
	padding:0 3px 0 0;
	vertical-align:middle;
}
#Main div.in-list ol li div{
	line-height:24px;
}

#Main div.in-list ol li.num01 strong{
	background:url(../images/support06_03/ico_num_01.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num02 strong{
	background:url(../images/support06_03/ico_num_02.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num03 strong{
	background:url(../images/support06_03/ico_num_03.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num04 strong{
	background:url(../images/support06_03/ico_num_04.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num05 strong{
	background:url(../images/support06_03/ico_num_05.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num06 strong{
	background:url(../images/support06_03/ico_num_06.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num07 strong{
	background:url(../images/support06_03/ico_num_07.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num08 strong{
	width:6em;
	background:url(../images/support06_03/ico_num_08.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num08 div{
	margin:0 0 0 6em;
	padding:0 0 0 30px;
}
#Main div.in-list ol li.num09 strong{
	background:url(../images/support06_03/ico_num_09.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num10 strong{
	background:url(../images/support06_03/ico_num_10.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num11 strong{
	background:url(../images/support06_03/ico_num_11.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num12 strong{
	background:url(../images/support06_03/ico_num_12.gif) no-repeat 0 0.4ex;
}
#Main div.in-list ol li.num13 strong{
	background:url(../images/support06_03/ico_num_13.gif) no-repeat 0 0.4ex;
}

#Main div.in-list ol li.num14 strong{
	background:url(../images/support06_03/ico_num_14.gif) no-repeat 0 0.4ex;
}

