@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
/* .capture
---------------------*/
#Main div.capture{
	width:510px;
}
#Main div.capture01 li.popup01{
	width:75px;
	top:65px;
	left:219px;
}
#Main div.capture02 li.popup01{
	width:75px;
	top:54px;
	left:142px;
}