@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
/* .capture
---------------------*/
#Main div.capture li.popup01{
	width:200px;
	top:155px;
	left:275px;
}
#Main div.capture li.popup02{
	width:300px;
	top:343px;
	left:295px;
}