@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}
/* capture
---------------------*/
#Main div.capture li.popup01{
	width:142px;
	top:46px;
	left:233px;
}
#Main div.capture li.popup02{
	width:175px;
	top:184px;
	left:417px;
}