@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
/* .capture
---------------------*/
#Main div.capture{
	width:520px;
}
#Main div.capture01 li.popup01{
	width:76px;
	top:166px;
	left:236px;
}