@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main h4{
	margin:0 0 20px;
	padding:0 0 0 30px;
	line-height:18px;
}
#Main h4.num01{
	background:url(../images/support13/ico_num_01.gif) no-repeat 0 0;
}
#Main h4.num02{
	background:url(../images/support13/ico_num_02.gif) no-repeat 0 0;
}
#Main h4.num03{
	background:url(../images/support13/ico_num_03.gif) no-repeat 0 0;
}
/* .capture
---------------------*/
#Main div.capture{
	width:520px;
}
#Main div.capture01 li.popup01{
	width:75px;
	top:73px;
	left:113px;
}
#Main div.capture02 li.popup01{
	width:262px;
	top:16px;
	left:239px;
}
#Main div.capture03 li.popup01{
	width:75px;
	top:61px;
	left:276px;
}