@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}

/* ul
---------------------*/
#Main div.grayblock div.in-waside ul li{
	width:520px;
	overflow:hidden;
}
#Main div.grayblock div.in-waside ul li span{
	width:2em;
	float:left;
}