{{ item.vfName }} 様
この度はお問い合わせいただきまして、誠にありがとうございます。
本日より２～３営業日以内に内容を確認し、追って担当者からご連絡差し上げますので、
今しばらくお待ちくださいますようお願いいたします。

尚、3営業日経っても弊社からの連絡がない場合は
お問い合わせが正しく送信されていない可能性がございます。
その際はお手数ではございますが、再度ご連絡いただけますようお願いいたします。

【お問い合わせ内容】
---------------------------------------------------------------------------
第一希望日時: {{ item.vfHope1Month }} 月 {{ item.vfHope1Day }} 日 {{ item.vfHope1Time }} 時
第二希望日時: {{ item.vfHope2Month }} 月 {{ item.vfHope2Day }} 日 {{ item.vfHope2Time }} 時
お名前: {{ item.vfName }}
フリガナ: {{ item.vfNameKana }}
メールアドレス: {{ item.vfEmail }}
電話番号: {{ item.vTel }}
ご希望・ご質問: {{ item.vfContent }}

---------------------------------------------------------------------------

※このメールは配信専用のアドレスで配信されています。
このメールに返信されても返信内容の確認およびご返答ができませんので、ご了承ください。
