{{ item.vfName }} 様
この度はお問い合わせいただきまして、誠にありがとうございます。
本日より２～３営業日以内に内容を確認し、追って担当者からご連絡差し上げますので、
今しばらくお待ちくださいますようお願いいたします。

尚、3営業日経っても弊社からの連絡がない場合は
お問い合わせが正しく送信されていない可能性がございます。
その際はお手数ではございますが、再度ご連絡いただけますようお願いいたします。

【お問い合わせ内容】
---------------------------------------------------------------------------
お問い合わせ種別: {{ item.vfCategory }}
お名前: {{ item.vfName }}
フリガナ: {{ item.vfNameKana }}
メールアドレス: {{ item.vfEmail }}
電話番号: {{ item.vTel }}
内容: {{ item.vfContent }}

---------------------------------------------------------------------------

※このメールは配信専用のアドレスで配信されています。
このメールに返信されても返信内容の確認およびご返答ができませんので、ご了承ください。
