お問い合わせがありました。

-------------------------------------------------
お問い合わせ種別: {{ item.vfCategory }}
お名前: {{ item.vfName }}
フリガナ: {{ item.vfNameKana }}
メールアドレス: {{ item.vfEmail }}
電話番号: {{ item.vTel }}
内容: {{ item.vfContent }}
