<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>確認画面 | 来店予約｜MILIFEPLUS 保険とライフプランの相談デスク</title>
<meta name="description" content="保険とライフプランの相談デスク 株式会社MILIFEPLUS。来店予約はこちらから。">
<meta property="og:title" content="確認画面 | 来店予約｜MILIFEPLUS 保険とライフプランの相談デスク">
<meta property="og:type" content="article">
<meta property="og:image" content="">
<meta property="og:url" content="">
<meta property="og:description" content="保険とライフプランの相談デスク 株式会社MILIFEPLUS。来店予約はこちらから。">
<meta name="twitter:card" content="summary">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include('/includes/gtm-head.inc') %}
<link rel="stylesheet" href="./assets/styles/main.css">
<link rel="stylesheet" href="./assets/styles/pages/common/style.css">
<link rel="stylesheet" href="./assets/styles/pages/index/style.css">
<link rel="stylesheet" href="/assets/styles/main.css">
<link rel="stylesheet" href="/assets/styles/pages/common/style.css">
</head>

<body>
  {% include('/includes/gtm-body.inc') %}
  <div class="l-page">
    {% include('/includes/header.inc') %}
    <main class="l-main">
      <div class="c-form-wrapper">
        <div class="c-form-inner">
          <form action="" method="post" class="needs-validation is-confirm" novalidate>
            <div class="c-form-flow">
              <div class="c-form-flow__item c-form-flow__item--input">
                <span>入力</span>
              </div>
              <div class="c-form-flow__item c-form-flow__item--confirm">
                <span>確認</span>
              </div>
              <div class="c-form-flow__item c-form-flow__item--complete">
                <span>完了</span>
              </div>
            </div>
            <div class="c-form-description u-center u-mb-70-md u-mb-40">
              <p>入力内容をご確認の上、この内容でよろしければ
                <br class="u-d-md-none">「送信」ボタンを押してください。
              </p>
            </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label c-form-head__label--address">第一希望日時</div>
                  </div>
                  <div class="c-form-body">
                    <p>{{ item.vfHope1Month }} 月 {{ item.vfHope1Day }} 日 {{ item.vfHope1Time }} 時</p>
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label c-form-head__label--address">第二希望日時</div>
                  </div>
                  <div class="c-form-body">
                    <p>{{ item.vfHope2Month }} 月 {{ item.vfHope2Day }} 日 {{ item.vfHope2Time }} 時</p>
                  </div>
                </div>
              </div>
            <div class="c-form-groups">
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">お名前</div>
                  </div>
                  <div class="c-form-body">
                    <p>{{ item.vfName }}</p>
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">フリガナ</div>
                  </div>
                  <div class="c-form-body">
                    <p>{{ item.vfNameKana }}</p>
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">メールアドレス</div>
                  </div>
                  <div class="c-form-body">
                    <p>{{ item.vfEmail }}</p>
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">電話番号</div>
                  </div>
                  <div class="c-form-body">
                    <p>{{ item.vfTel }}</p>
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label">ご希望・ご質問</div>
                  </div>
                  <div class="c-form-body">
                    <p>{{ item.vfContent | nl2br }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-form-buttons u-mt-80-md u-mt-50">
              <button type="submit" name="back" class="c-form-button c-form-button--pageback">修正する</button>
              <button type="submit" name="complete" class="c-form-button c-form-button--submit u-mb-20 u-mb-0-md">この内容で送信する</button>
            </div>{{ hiddenParam(item) }} 
          </form>
        </div>
      </div>
    </main>
    <!-- .l-main -->
    {% include('/includes/footer.inc') %}
    <div class="none u-d-none">
      {% include('/includes/_svg-symbols.inc') %}
    </div>
  </div>
  <!-- .l-page -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="./js/jquery.autoKana.js"></script>
<script src="./assets/scripts/vendors.js" defer></script>
<script src="./assets/scripts/pages/common.js" defer></script>
<script src="/assets/scripts/vendors.js" defer></script>
<script src="/assets/scripts/pages/common.js" defer></script>
</body>

</html>
