<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>来店予約｜MILIFEPLUS 保険とライフプランの相談デスク</title>
<meta name="description" content="保険とライフプランの相談デスク 株式会社MILIFEPLUS。来店予約はこちらから。">
<meta property="og:title" content="来店予約｜MILIFEPLUS 保険とライフプランの相談デスク">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:url" content="">
<meta property="og:description" content="保険とライフプランの相談デスク 株式会社MILIFEPLUS。来店予約はこちらから。">
<meta name="twitter:card" content="summary">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include('/includes/gtm-head.inc') %}
<link rel="stylesheet" href="./assets/styles/main.css">
<link rel="stylesheet" href="./assets/styles/pages/common/style.css">
<link rel="stylesheet" href="./assets/styles/pages/index/style.css">
<link rel="stylesheet" href="/assets/styles/main.css">
<link rel="stylesheet" href="/assets/styles/pages/common/style.css">

</head>

<body>
  {% include('/includes/gtm-body.inc') %}
  <div class="l-page" id="l-page">
    {% include('/includes/header.inc') %}
    <main class="l-main">
      <sectin class="sec-head">
        <div class="l-container">
          <h2 class="sec-head__ttl">
            <picture>
              <source media="(min-width: 768px)" srcset="/reservation/assets/images/index/reservation_ttl01_md.png">
              <img src="/reservation/assets/images/index/reservation_ttl01.png" alt="来店予約" width="111" height="56">
            </picture>
          </h2>
        </div>
      </sectin>
      <div class="c-form-wrapper">
        <div class="c-form-inner">
          <form action="" method="post" class=" h-adr is-input" novalidate>
            <span class="p-country-name" style="display:none;
">Japan</span>
            <div class="c-form-flow">
              <div class="c-form-flow__item c-form-flow__item--input">
                <span>入力</span>
              </div>
              <div class="c-form-flow__item c-form-flow__item--confirm">
                <span>確認</span>
              </div>
              <div class="c-form-flow__item c-form-flow__item--complete">
                <span>完了</span>
              </div>
            </div>
            <div class="c-form-description u-center-md u-mb-50-md u-mb-35">
              <p>来店予約、イベント予約は下記フォームにご入力の上、送信してください。<br>イベント予約の場合は、イベント名を「ご希望・ご質問」欄に記載ください。<br>ご予約の前に、必ず下記の注意事項をお読みください。<br><span class="c-required u-mr-5">必須</span>はご記入必須項目です。
              </p>
            </div>
          {% if err is not empty %} 
            <div id="error-notice-line"></div>
            <div class="c-form-error-notice u-mb-50-md u-mb-30" id="error-notice" style="display:block;
">
              <p>
                <span class="c-form-error-notice__icon"></span>正しく入力されていない項目があります。下記フォームをご確認の上、再度「確認する」ボタンを押して下さい。
              </p>
            </div>{% endif %} 
            <div class="c-form-groups">
              <div class="form-group c-form-group">
                <div class="c-form-item c-form-item--check">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">第一希望日時</div>
                  </div>
                  <div class="c-form-input">
                    <div class="flex-wrap">
                      <div class="item">
                        {% set key = 'vfHope1Month' %}
                        <select class="form-control p-region" name="{{ key }}">
                          <option value="">選択してください</option>
                          {% for idx, label in fields[key].selection %}
                          <option value="{{ label }}" {{ selected([item[key]][0], label) }}>{{ label }}</option> 
                          {% endfor %} 
                        </select>
                        <p class="txt">月</p>
                      </div>
                      <div class="item">
                        {% set key = 'vfHope1Day' %}
                        <select class="form-control p-region" name="{{ key }}">
                          <option value="">選択してください</option>
                          {% for idx, label in fields[key].selection %}
                          <option value="{{ label }}" {{ selected([item[key]][0], label) }}>{{ label }}</option> 
                          {% endfor %} 
                        </select>
                        <p class="txt">日</p>
                      </div>
                      <div class="item">
                        {% set key = 'vfHope1Time' %}
                        <select class="form-control p-region" name="{{ key }}">
                          <option value="">選択してください</option>
                          {% for idx, label in fields[key].selection %}
                          <option value="{{ label }}" {{ selected([item[key]][0], label) }}>{{ label }}</option> 
                          {% endfor %} 
                        </select>
                        <p class="txt">時</p>
                      </div>
                    </div>
                    {% if err['vfHope1'] is not empty %}
                      <div class="invalid-feedback" style="display:block;
">
                      <span class="c-form-note">{{ err['vfHope1'] }}</span>
                      </div>
                    {% endif %} 
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item c-form-item--check">
                  <div class="c-form-head">
                    <div class="c-form-head__label">第二希望日時</div>
                  </div>
                  <div class="c-form-input">
                    <div class="flex-wrap">
                      <div class="item">
                        {% set key = 'vfHope2Month' %}
                        <select class="form-control p-region" name="{{ key }}">
                          <option value="">選択してください</option>
                          {% for idx, label in fields[key].selection %}
                          <option value="{{ label }}" {{ selected([item[key]][0], label) }}>{{ label }}</option> 
                          {% endfor %} 
                        </select>
                        <p class="txt">月</p>
                      </div>
                      <div class="item">
                        {% set key = 'vfHope2Day' %}
                        <select class="form-control p-region" name="{{ key }}">
                          <option value="">選択してください</option>
                          {% for idx, label in fields[key].selection %}
                          <option value="{{ label }}" {{ selected([item[key]][0], label) }}>{{ label }}</option> 
                          {% endfor %} 
                        </select>
                        <p class="txt">日</p>
                      </div>
                      <div class="item">
                        {% set key = 'vfHope2Time' %}
                        <select class="form-control p-region" name="{{ key }}">
                          <option value="">選択してください</option>
                          {% for idx, label in fields[key].selection %}
                          <option value="{{ label }}" {{ selected([item[key]][0], label) }}>{{ label }}</option> 
                          {% endfor %} 
                        </select>
                        <p class="txt">時</p>
                      </div>
                    </div>
                    {% if err['vfHope2'] is not empty %}
                      <div class="invalid-feedback" style="display:block;
">
                      <span class="c-form-note">{{ err['vfHope2'] }}</span>
                      </div>
                    {% endif %} 
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">お名前</div>
                  </div>
                  <div class="c-form-input">{% set key = 'vfName' %} 
                    <input type="text" class="form-control js-autokana-name {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: 山田太郎">{% if err[key] is not empty %}
                    <div class="invalid-feedback" style="display:block;
">
                      <span class="c-form-note">{{ err[key] }}</span>
                    </div>{% endif %} 
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">フリガナ</div>
                  </div>
                  <div class="c-form-input">{% set key = 'vfNameKana' %} 
                    <input type="text" class="form-control js-autokana-kana {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: ヤマダタロウ">{% if err[key] is not empty %}
                    <div class="invalid-feedback" style="display:block;
">
                      <span class="c-form-note">{{ err[key] }}</span>
                    </div>{% endif %} 
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">メールアドレス</div>
                  </div>
                  <div class="c-form-input">{% set key = 'vfEmail' %} 
                    <input type="email" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: mail@example.com">{% if err[key] is not empty %}
                    <div class="invalid-feedback" style="display:block;
">
                      <span class="c-form-note">{{ err[key] }}</span>
                    </div>{% endif %} 
                  </div>
                  <div class="c-form-input u-mt-30-md">
                    <p class="u-mb-10 u-mb-15-md u-fz-14-md u-fz-12">確認のため再入力してください</p>{% set key = 'vfEmailConf' %}
                    <input type="email" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例: mail@example.com">{% if err[key] is not empty %}
                    <div class="invalid-feedback" style="display:block;
">
                      <span class="c-form-note">{{ err[key] }}</span>
                    </div>{% endif %} 
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label is-required">電話番号</div>
                  </div>
                  <div class="c-form-input">
                    <div class="form-row">
                      <div class="col-md-4">{% set key = 'vfTel' %} 
                        <input type="tel" class="form-control {{ active(err[key], 'is-invalid') }}" name="{{ key }}" value="{{ item[key] }}" placeholder="例：0661364035">{% if err[key] is not empty %}
                        <div class="invalid-feedback" style="display:block;
">
                          <span class="c-form-note">{{ err[key] }}</span>
                        </div>{% endif %} 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group c-form-group">
                <div class="c-form-item">
                  <div class="c-form-head">
                    <div class="c-form-head__label">ご希望・ご質問</div>
                  </div>
                  <div class="c-form-input">
                    {% set key = 'vfContent' %}
                    <textarea name="{{ key }}" id="" cols="30" rows="10" class="form-control {{ active(err[key], 'is-invalid') }}" placeholder="お問い合わせ内容をご入力ください">{{ item[key] }}</textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-form-policy">
              <h3>個人情報保護方針</h3>
              <p>MILIFEPLUS株式会社（以下「当社」といいます。）は、当社が取得する個人情報の取扱いについて、次の方針に従います。</p>
              <ol>
                <li>適用される個人情報の保護に関する法令等に従い、個人情報を取り扱います。</li>
                <li>個人情報の取得は適法かつ公正な手段により行います。</li>
                <li>個人情報の利用は、明示した利用目的に必要な範囲で行います。</li>
                <li>個人情報を、本人の同意がある場合または適用される法令等で許容される場合を除き、第三者に提供しません。</li>
                <li>個人情報の流出・漏洩・紛失などのないよう社内規定や組織体制などを整備するとともに、従業者の教育を通じて個人情報管理の徹底を図ります。</li>
              </ol>
              <h3>お客様等の個人情報の取り扱い</h3>
              <p>当社は、次の考え方の下でお客様・お取引先様等（以下「お客様等」といいます。）の個人情報を取り扱います。なお、欧州経済地域（EEA）居住者のうち、当社が製品またはサービスを提供するお客様の個人情報の取扱いについては、こちらをご覧ください。</p>
              <ol>
                <li>
                  <dl>
                    <dt>個人情報等の取得</dt>
                    <dd>
                      <ol>
                        <li>
                          <dl>
                            <dt>お客様等からご提供いただく個人情報</dt>
                            <dd>当社は、次項に記載の利用目的を達成するため、お客様等のお名前・お勤め先（所属部署、役職名）・住所・ご連絡先（電話番号、FAX、メールアドレス等）といった個人情報を、お客様のご判断によりご提供いただきます。</dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>IPアドレス等</dt>
                            <dd>当社は、当社が管理するウェブサイトを訪れたお客様等から、ウェブサイト利用状況把握のために、IPアドレス、ブラウザ情報、オペレーティングシステム、地域・言語情報、アクセス履歴等の情報（以下「技術的情報」といいます。）を取得します。なお、これらの技術的情報はお客様個人を特定できない状態で取得することを原則とします。
                              <br>ただし、ポップアップ等でIPアドレスの取得を通知するウェブサイトにおいては、技術的情報を個人情報と紐づけして利用・管理するため、これらの技術的情報も個人情報として取り扱います。
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>クッキー</dt>
                            <dd>当社が管理するウェブサイトでは、お客様等により良いサービスを提供するため、クッキーを使用しています。クッキーにより得られたお客様の閲覧履歴などは、特定の個人を識別することはできず、お客様は匿名のままです。お客様は、クッキーの受信を拒否するようご自分のブラウザに設定することもできます。</dd>
                          </dl>
                        </li>
                      </ol>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>個人情報の利用目的</dt>
                    <dd>
                      <ol>
                        <li>
                          <dl>
                            <dt>お客様等からご提供いただいた個人情報は、以下の目的で利用いたします。</dt>
                            <dd>
                              <ol>
                                <li>当社製品の営業、販売、サービスの提供等に関する業務</li>
                                <li>当社製品に関する情報の提供、取得、調査等に関する業務</li>
                                <li>当社製品のメンテナンス、アフターサービス等に関する業務</li>
                                <li>当社製品に関するセミナー、展示会等の案内</li>
                                <li>当社製品、当社事業に関するニュースレター等の配信</li>
                                <li>当社製品に関する研究・開発、品質向上等に関する業務（新たな製品開発を含む。</li>
                                <li>資材等の調達に関する業務</li>
                                <li>お客様等からのお問い合わせ、苦情等の対応</li>
                                <li>その他上記に付随または関連する業務</li>
                              </ol>なお、当社製品とは当社の事業（電力関連事業、セラミックス事業、エレクトロニクス事業、プロセステクノロジー事業、その他当社事業）における当社の製品をいいます。 
                            </dd>
                          </dl>
                        </li>
                        <li>お客様等から個人情報をご提供いただく書面やウェブサイトの画面等において、特に利用目的を定め記載している場合は、その利用目的の範囲内で利用いたします。</li>
                      </ol>
                    </dd>
                  </dl>
                </li>
              </ol>
            </div>
            <div class="u-center c-form-agreement">
              {% set key = 'vfCheckboxAgreement' %} 
              <input type="checkbox" id="agreement" class="c-form-agreement__input" name="{{ key }}" value="1" {{ checked([item[key]], 1) }}>
              <label for="agreement" class="c-form-agreement__label u-ml-25 u-ml-0-md u-fw-500">同意する</label>
              {% if err[key] is not empty %}
                <div class="invalid-feedback" style="display:block;
">
                <span class="c-form-note">{{ err[key] }}</span>
                </div>
              {% endif %} 
              <button type="submit" class="c-form-button c-form-button--submit u-mt-40-md u-mt-30 u-mx-auto">内容を確認する</button>
              <input type="hidden" name="confirm">
            </div>
          </form>
        </div>
      </div>
    </main>
    <!-- .l-main -->
    {% include('/includes/footer.inc') %}
<div class="none u-d-none">
  {% include('/includes/_svg-symbols.inc') %}
</div>
  </div>
  <!-- .l-page -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="./js/jquery.autoKana.js"></script>
<script src="./assets/scripts/vendors.js" defer></script>
<script src="./assets/scripts/pages/common.js" defer></script>
<script src="./assets/scripts/pages/index.js" defer></script>
<script src="./assets/scripts/pages/switch.js" defer></script>
<script src="/assets/scripts/vendors.js" defer></script>
<script src="/assets/scripts/pages/common.js" defer></script>
</body>
</html>
