.sec-head {
  display: block;
}

.sec-head .l-container {
  max-width: 1160px;
  margin: 0 auto;
}

.sec-head .l-container .sec-head__ttl {
  text-align: center;
}

.sec-head .l-container .tel-wrap {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 40px;
}

.sec-head .l-container .tel-wrap {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 40px;
}

.sec-head .l-container .tel-wrap .img {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
}

@media (max-width: 767px) {
  .sec-head .l-container .tel-wrap {
    flex-direction: column;
  }

  .sec-head .l-container .tel-wrap .img {
    width: 315px;
    margin: auto;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
  }

  .sec-head .l-container .tel-wrap .img:first-child {
    margin-bottom: 25px;
  }

  .sec-head .l-container .tel-wrap {
    justify-content: space-between;
    margin: 55px 0 60px;
  }
}

@media (min-width: 768px) {
  .sec-head .l-container .tel-wrap {
    display: flex;
    justify-content: space-between;
    margin: 150px 0 40px;
  }

  .sec-head .l-container .sec-head__ttl img {
    width: auto;
    height: auto;
  }

  .sec-head .l-container .tel-wrap .img img {
    width: auto;
    height: auto;
  }
}
