@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/


/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


/* Content
---------------------*/
#Pc #Content{
	position:relative;
	background:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	-ms-border-radius:0;
	
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	
	background:none;
}

#Pc #Main {
	width:580px !important;
	position:absolute;
	top:48%;
	left:50%;
	margin:-214px 0 0 -290px;
	
	float:none;
	display:block;
	padding:0 0 0 0;
	
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	
	background:none;
}

/* head-line03
---------------------*/
#Pc #Main h1.head-line03{
	height:50px;
	line-height:50px;
	padding:0 25px 0 25px;
	font-size:170%;
	color:#FFFFFF;
	background-color:#6eaae9;
	
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
	
	background-image:url("svg4ie9.php?t=43ACEC&b=5387C6");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#43ACEC),to(#5387C6));
	background-image:-webkit-linear-gradient(top,#43ACEC,#5387C6);
	background-image:-moz-linear-gradient(top,#43ACEC,#5387C6);
	background-image:-ms-linear-gradient(top,#43ACEC,#5387C6);
	background-image:-o-linear-gradient(top,#43ACEC,#5387C6);
	-pie-background:linear-gradient(top,#43ACEC,#5387C6);
}

/* login-box
---------------------*/
#Pc #Main .section.login-box{
	width:580px;
	margin:0 0 0 0;
	background:#FFFFFF;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	
	box-shadow:0 0 5px #C3C8D0;
	-moz-box-shadow:0 0 5px #C3C8D0;
	-webkit-box-shadow:0 0 5px #C3C8D0;
	-o-box-shadow:0 0 5px #C3C8D0;
	-ms-box-shadow:0 0 5px #C3C8D0;
	
	overflow:hidden;
}
#Pc #Main .section.login-box form{
}
/* login-input */
#Pc #Main .section.login-box .login-input{
	padding:10px 30px 10px 30px;
	overflow:hidden;
}
#Pc #Main .section.login-box .login-input p{
	margin:10px 0 10px 0;
}
#Pc #Main .section.login-box .login-input p.input{
	margin:20px 0 20px 0;
}
#Pc #Main .section.login-box .login-input p span.label{
	width:100px;
	display:inline-block;
	
}
#Pc #Main .section.login-box .login-input p input{
	width:358px;
}

/* login-exec */
#Pc #Main .section.login-box .login-exec{
	width:100%;
	padding:5px 0 5px 0;
	text-align:center;
	border-top:1px solid #E2E2E2;
	background:#FFF7EC;

	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	-ms-border-radius:0 0 5px 5px;
}
#Pc #Main .section.login-box .login-exec p{
	margin:10px 0;
}
#Pc #Main .section.login-box .login-exec p input.checkbox{
	margin:0 5px 0 0;
	vertical-align:middle;
}
#Pc #Main .section.login-box .login-exec .btn-type01{
	margin:10px auto 20px auto;
}
#Pc #Main .section.login-box .login-exec a.modal-open{
	display:inline !important;
}

/* info
---------------------*/
#Pc #Main .section.info{
	width:570px;
	margin:30px auto 0 auto;
	font-size:93%;
	
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

/* head-line03
---------------------*/
#Smp #Main .head-line03{
	color:#FFFFFF;
	padding:5px 0;
	font-size:125%;
	font-weight:bold;
	text-align:center;
	
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#6eaae9),to(#6586c3));
	background-image:-webkit-linear-gradient(top,#6eaae9,#6586c3);
	background-image:-moz-linear-gradient(top,#6eaae9,#6586c3);
	background-image:-ms-linear-gradient(top,#6eaae9,#6586c3);
	background-image:-o-linear-gradient(top,#6eaae9,#6586c3);
	-pie-background:linear-gradient(top,#6eaae9,#6586c3);
}

/* login-box
---------------------*/
#Smp #Main .section.login-box p{
	margin:12px 0;
}
#Smp #Main .section.login-box .login-input{
	margin:10px;
}
#Smp #Main .section.login-box .login-exec{
	margin:10px;
}
#Smp #Main .section.login-box .login-input p span{
	font-weight:bold;
	display:block;
}
#Smp #Main .section.login-box .login-exec .btn-type01{
	margin:10px auto;
}
#Smp #Main .section.login-box input[type=text],
#Smp #Main .section.login-box input[type=password]{
	width:288px;
	width:95%;
}
