お問い合わせがありました。

-------------------------------------------------
第一希望日時: {{ item.vfHope1Month }} 月 {{ item.vfHope1Day }} 日 {{ item.vfHope1Time }} 時
第二希望日時: {{ item.vfHope2Month }} 月 {{ item.vfHope2Day }} 日 {{ item.vfHope2Time }} 時
お名前: {{ item.vfName }}
フリガナ: {{ item.vfNameKana }}
メールアドレス: {{ item.vfEmail }}
電話番号: {{ item.vTel }}
ご希望・ご質問: {{ item.vfContent }}
