.l-main {
    background-color: #fff9ef
}

.sec-privacy {
    padding: 100px 0
}

.sec-privacy__ttl {
    margin-bottom: 50px;
    text-align: center
}

.sec-privacy__sentence {
    margin-top: 30px
}

.sec-privacy__lead {
    font-size: 16px;
    font-weight: 500
}

.sentence-ttl {
    margin-bottom: 15px;
    font-size: 18px;
    color: #f5a813
}

.sentence-lead {
    margin-bottom: 10px
}

@media (min-width:768px) {
    .sec-privacy {
        padding: 200px 0
    }

    .sec-privacy__ttl {
        margin-bottom: 70px
    }

    .sec-privacy__ttl img {
        width: auto;
        height: auto
    }

    .sentence-ttl {
        font-size: 20px
    }
}

.sec-privacy__date {
    margin-top: 30px;
    text-align: right;
}