@charset "UTF-8";

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap');

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
textarea,
h2,
h3 {
  padding: 0;
  margin: 0;
}

h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.u-center {
  text-align: center;
}

.u-d-none {
  display: none !important;
}

.u-fz-12 {
  font-size: 12px !important;
}

.u-mr-5 {
  margin-right: 5px !important;
}

.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-mb-15 {
  margin-bottom: 15px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-mb-25 {
  margin-bottom: 25px !important;
}

.u-ml-25 {
  margin-left: 25px !important;
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mb-30 {
  margin-bottom: 30px !important;
}

.u-mb-35 {
  margin-bottom: 35px !important;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-mt-50 {
  margin-top: 50px !important;
}

.u-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.u-fw-400 {
  font-weight: 400 !important;
}

.u-fw-500 {
  font-weight: 500 !important;
}

html {
  min-width: 320px;
}

body {
  font-family: 'YakuHanJP', 'Noto Sans JP', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  background: #f2f4f4;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

body > img {
  display: block;
  height: 0 !important;
  font-size: 0;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 2.125rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #1f1f1f;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 2px #e3e3e3;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #e3e3e3;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #1f1f1f;
  background-color: white;
  border-color: white;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: -0.0875rem;
  left: -1.8rem;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  pointer-events: none;
  content: '';
  background-color: #f4f4f4;
  border: transparent solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: -0.0875rem;
  left: -1.8rem;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  content: '';
  background: no-repeat 50%/16px 13px;
}

.custom-radio .custom-control-label::after {
  background-size: 62% 62%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 13'%3e%3cpath fill='%231f1f1f' d='M16.000,1.966 L13.962,0.001 L5.449,8.578 L2.362,4.084 L0.001,5.659 L5.042,13.001 L5.045,12.997 L5.048,13.001 L16.000,1.966 Z'/%3e%3c/svg%3e");
}

.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}

.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%231f1f1f' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox
  .custom-control-input:disabled:indeterminate
  ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231f1f1f'/%3e%3c/svg%3e");
}

.custom-radio
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 2.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3e%3cpath fill='%23343a40' d='M11.999,1.392 L6.004,6.993 L4.504,5.592 L4.504,5.592 L0.006,1.392 L1.506,-0.009 L6.003,4.192 L10.501,-0.009 L11.999,1.392 Z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/26px 7px;
  background-color: #f4f4f4;
  border: 1px solid #e0e1e1;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: #e3e3e3;
  outline: 0;
  box-shadow: 0 0 0 2px #e3e3e3;
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #f4f4f4;
}

.custom-select[multiple],
.custom-select[size]:not([size='1']) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-control-label::before,
.custom-select {
  -webkit-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.c-form-wrapper {
  width: 100%;
  max-width: 1160px;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-weight: 300;
  color: #1f1f1f;
  letter-spacing: 0.06em;
  word-break: break-all;
}

.c-form-inner {
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
  line-height: 2.25;
  background: #fff;
}

.c-form-flow {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.c-form-flow__item {
  position: relative;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  width: 77px;
  height: 77px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 77px;
  text-align: center;
  white-space: nowrap;
  background: #fff;
  border-radius: 90px;
  box-shadow: inset 0 0 0 1px #1f1f1f;
  opacity: 0.2;
  -webkit-box-pack: center;
}

.c-form-flow__item::before {
  position: absolute;
  top: 35.25px;
  right: -15px;
  display: inline-block;
  width: 7px;
  height: 12px;
  content: '';
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 22'%3e%3cpath fill='%23333' d='M10.579,13.410 L10.579,13.409 L3.359,21.140 L0.953,18.562 L8.173,10.833 L0.953,3.102 L3.359,0.528 L12.986,10.831 L10.579,13.410 Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 6.5px 11px;
}

.is-input .c-form-flow__item--input {
  background: #eaeaea;
  box-shadow: inset 0 0 0 1px #eaeaea;
  opacity: 1;
}

.is-input .c-form-flow__item--input::before {
  opacity: 1;
}

.is-confirm .c-form-flow__item--confirm {
  background: #eaeaea;
  box-shadow: inset 0 0 0 1px #eaeaea;
  opacity: 1;
}

.is-confirm .c-form-flow__item--confirm::before {
  opacity: 1;
}

.c-form-flow__item--complete::before {
  content: none;
}

.is-thanks .c-form-flow__item--complete {
  background: #eaeaea;
  box-shadow: inset 0 0 0 1px #eaeaea;
  opacity: 1;
}

form:not(.is-confirm) .c-form-head__label.is-required::after,
.c-required {
  display: inline-block;
  padding: 8px 12px;
  padding-left: 18px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  letter-spacing: 8px;
  white-space: nowrap;
  background: #f66359;
  border-radius: 4px;
}

.c-form-description {
  font-size: 12px;
}

.c-form-annotation {
  padding: 35px 20px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}

.c-form-annotation h2,
.c-form-annotation h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.c-form-annotation ul {
  padding-left: 20px;
  list-style-type: disc;
}

.c-form-error-notice {
  position: relative;
  display: none;
  padding: 20px;
  font-size: 12px;
  color: #f66359;
  background: #fff0f0;
  border: 1px solid #f66359;
  border-radius: 6px;
}

.was-validated .c-form-error-notice {
  display: block;
}

.c-form-error-notice__icon {
  text-align: center;
}

.c-form-error-notice__icon::before {
  position: relative;
  left: -8px;
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  content: '';
  background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAACrUlEQVRYhcWYS2sTURSAvxkrtMW2qMQHqKVuEu1GhFK06qqoBd0q1aWlLnz8EVdqN+2i3bXg1oUWu/JJF0UQH82mYsVNCy1NYpKFZeTEMyHOnYTMI5kPhpZ75575uJN77j1jFe+ME5AB4ApwATgF9AM9GiIP/AC+AW+BReB7kPAdRos/e4AbwH3gHGD53gUH9ToL3AYc4AMwBTwDdo0RHmyjxWQU+AzMA+cbyPhh6Zh5jTHqc89/NBLqBKaBV0DG6A1ORmNNa2xf6gmlgNfApNETnUmNnfKL5CckN74Bhlog4zKkzzCkvELdwHMgbYSIn7Q+q7uR0GNguA0yLsP6TF8hWQETxpDWM1G7+uyav08SkHF5qrmuKnRTs25SZDTxVoXuJSjjIrtARWhAs2ko7PQgnY+mKpfV2xdFSLakk7KXXQ24HRhY+w/8a+rpg9yO0d9sGNm0ZYZGjK4AOIV8lOFeRkRo0GgOI1Yu4fxaN9oDclqEjschRKlkNIWg3645XIUjr7+Zrq44hPY1e0Cri5PbwdnewolnhirLPtZfZUQKIvQzapTK7JRjmaF1eWVfgTNGVwD+LL3E+V2IQ+iLrdVBaCQ7W6nD2IeOxCH0rkNLFSdstraOHmPv2LXK/7ufPkbJReKwKDO0Brw3uoNEklW2vWW0B0TKpTW3UBzXUiVJbgEL7vFDirjVBGVW1aF6HpKK8oFxW/t46Fa1tWfqJWAuAZlZLSDxCqGntmVjSOtY9r4Zr1ARuA5k2yCT1WcVGwkJm8AlYKWFMiv6jE1vh5+QsAFcBGaMnujM6LelDb9I9YQE2S3vApdjeoVZjSUxy0ZvE0IusgLkmCuJS7KppPggyBj5eCUxqqupHs0e0CRHLOglZdOYTrsUeCeAXr0vJ0cITXSyab8I9EkP+Av8NY5ozOgJSgAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: 18px;
}

.c-form-group {
  border-bottom: 1px solid #e0e1e1;
}

.c-form-group:first-of-type {
  border-top: 1px solid #e0e1e1;
}

.c-form-group:last-of-type {
  margin-bottom: 0;
}

.c-form-item {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
}

.c-form-item + .c-form-item {
  padding-top: 0;
}

.is-confirm .c-form-item {
  padding-top: 26px;
  padding-bottom: 26px;
}

.c-form-item.c-form-item--check {
  padding-bottom: 10px;
}

.c-form-item--check .custom-radio,
.c-form-item--check .custom-checkbox {
  margin-bottom: 20px;
}

.c-form-head {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.is-confirm .c-form-head {
  line-height: 2.25;
}

.c-form-head__label {
  position: relative;
  font-weight: 500;
}

.c-form-head__label.is-required {
  width: 100%;
  padding-right: 80px;
}

form:not(.is-confirm) .c-form-head__label.is-required::after {
  position: absolute;
  content: '必須';
}

.c-form-head__label--address-02 {
  font-size: 12px;
  font-weight: 500;
}

.c-form-input + .c-form-input,
.c-form-input + .c-form-body,
.c-form-body + .c-form-input,
.c-form-body + .c-form-body {
  margin-top: 40px;
}

.is-confirm .c-form-body {
  line-height: 2.25;
}

.c-form-note {
  position: relative;
  display: inline-block;
  padding-left: 1.2em;
}

.c-form-note::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.3em;
  content: '※';
}

.c-form-policy {
  height: 340px;
  overflow: hidden;
  overflow-y: auto;
  font-size: 12px;
  line-height: 2;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}

.c-form-policy h2,
.c-form-policy h3 {
  font-weight: 500;
}

.c-form-policy h2:not(:first-child),
.c-form-policy h3:not(:first-child) {
  margin-top: 20px;
}

.c-form-policy p:not(:first-child) {
  margin-top: 20px;
}

.c-form-policy ol:not(:first-child),
.c-form-policy ul:not(:first-child) {
  margin-top: 20px;
}

.c-form-policy li {
  position: relative;
}

.c-form-policy li:not(:first-child) {
  margin-top: 5px;
}

.c-form-policy > ol {
  padding-left: 20px;
  list-style-type: decimal;
}

.c-form-policy > ol > li > dl > dt {
  font-weight: 500;
}

.c-form-policy > ol > li > dl > dd {
  position: relative;
}

.c-form-policy > ol > li > dl > dd > ol {
  counter-reset: num;
}

.c-form-policy > ol > li > dl > dd > ol > li {
  padding-left: 24px;
  counter-increment: num;
}

.c-form-policy > ol > li > dl > dd > ol > li::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  content: counter(num) ')';
}

.c-form-policy > ol > li > dl > dd > ol > li ol {
  counter-reset: num;
}

.c-form-policy > ol > li > dl > dd > ol > li ol li {
  padding-left: 24px;
  counter-increment: num;
}

.c-form-policy > ol > li > dl > dd > ol > li ol li::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  content: '(' counter(num) ')';
}

.c-form-policy ul {
  padding-left: 20px;
  font-size: 14px;
  line-height: 2.4285714286;
  list-style-type: disc;
}

.c-form-agreement a {
  text-decoration: underline;
}

.c-form-agreement__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.c-form-agreement__input + label {
  position: relative;
  font-size: 0.85rem;
  cursor: pointer;
}

.c-form-agreement__input + label::before,
.c-form-agreement__input + label::after {
  position: absolute;
  display: block;
  content: '';
}

.c-form-agreement__input + label::before {
  top: -0.0125rem;
  left: -1.8rem;
  width: 1.3rem;
  height: 1.3rem;
  pointer-events: none;
  background-color: #f4f4f4;
  border: transparent solid 1px;
  border-radius: 0.25rem;
}

.c-form-agreement__input + label::after {
  position: absolute;
  top: -0.0875rem;
  left: -1.8rem;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  content: '';
  background: no-repeat 50%/16px 13px;
}

.c-form-agreement__input ~ .c-form-button--submit,
.c-form-agreement__input ~ .c-form-button {
  color: #bbb;
  pointer-events: none;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}

.c-form-agreement__input:disabled:checked ~ label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.c-form-agreement__input:disabled:indeterminate ~ label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.c-form-agreement__input:checked ~ label::before {
  color: #fff;
  background-color: #f4f4f4;
}

.c-form-agreement__input:checked ~ label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 13'%3e%3cpath fill='%231f1f1f' d='M16.000,1.966 L13.962,0.001 L5.449,8.578 L2.362,4.084 L0.001,5.659 L5.042,13.001 L5.045,12.997 L5.048,13.001 L16.000,1.966 Z'/%3e%3c/svg%3e");
}

.c-form-agreement__input:checked ~ .c-form-button {
  color: #fff;
  pointer-events: auto;
  cursor: pointer;
  background-color: #333;
  border-color: #333;
  opacity: 1;
}

.c-form-buttons {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
}

.c-form-button {
  position: relative;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: #333;
  border: none;
  border: 1px solid;
  border-color: #333;
  border-radius: 80px;
  outline: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.c-form-button::after {
  position: absolute;
  top: calc(65px / 2 - 8px / 2);
  right: 30px;
  display: inline-block;
  width: 8px;
  height: 8px;
  content: '';
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-form-button:hover {
  color: #1f1f1f;
  background-color: #fff;
}

.c-form-button:hover::after {
  -webkit-transform: translateX(8px) rotate(45deg);
  transform: translateX(8px) rotate(45deg);
}

.c-form-button.c-form-button--pageback {
  color: #333;
  background: #fff;
  border-color: #e8e8e8;
}

.c-form-button.c-form-button--pageback::after {
  position: absolute;
  top: calc(65px / 2 - 8px / 2);
  right: auto;
  left: 30px;
  display: inline-block;
  width: 8px;
  height: 8px;
  content: '';
  border-top: 2px solid;
  border-right: 0;
  border-left: 2px solid;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-form-button.c-form-button--pageback:hover {
  color: #1f1f1f;
  background-color: #e8e8e8;
  box-shadow: none;
}

.c-form-button.c-form-button--pageback:hover::after {
  -webkit-transform: translateX(-8px) rotate(-45deg);
  transform: translateX(-8px) rotate(-45deg);
}

.c-form-lead {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.16em;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  background-color: #f4f4f4;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #f4f4f4;
  border-color: #f4f5f6;
  outline: 0;
  box-shadow: 0 0 0 2px #e3e3e3;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control::-webkit-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control::placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control:placeholder-shown {
  color: #c5c5c5;
  opacity: 1;
}

.form-control::-webkit-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control {
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

select.form-control [disabled] {
  opacity: 0.3;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #f4f4f4;
}

select.form-control[size],
select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
  padding: 15px;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

.c-form-input--check .form-row > [class*='col-'] {
  padding-right: 35px;
}

.was-validated .form-control:valid {
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  border-color: #28a745;
}

.was-validated .form-control:valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25);
}

.was-validated textarea.form-control:valid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right
    calc(0.375em + 0.1875rem);
}

.was-validated .custom-select:valid {
  padding-right: calc((1em + 0.75rem) * 3 / 4 + 2.75rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3e%3cpath fill='%23343a40' d='M11.999,1.392 L6.004,6.993 L4.504,5.592 L4.504,5.592 L0.006,1.392 L1.506,-0.009 L6.003,4.192 L10.501,-0.009 L11.999,1.392 Z'/%3e%3c/svg%3e")
      no-repeat right 0.75rem center/26px 7px,
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")
      #f4f4f4 no-repeat center right 2.75rem / calc(0.75em + 0.375rem)
      calc(0.75em + 0.375rem);
  border-color: #28a745;
}

.was-validated .custom-select:valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25);
}

.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #28a745;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before {
  background-color: white;
  border-color: #28a745;
}

.was-validated
  .custom-control-input:valid:checked
  ~ .custom-control-label::before {
  background-color: #34ce57;
  border-color: #34ce57;
}

.was-validated
  .custom-control-input:valid:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25);
}

.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #28a745;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #f66359;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f66359' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f66359' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  border-color: #f66359;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #f66359;
  box-shadow: 0 0 0 2px rgba(246, 99, 89, 0.25);
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right
    calc(0.375em + 0.1875rem);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  padding-right: calc((1em + 0.75rem) * 3 / 4 + 2.75rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3e%3cpath fill='%23343a40' d='M11.999,1.392 L6.004,6.993 L4.504,5.592 L4.504,5.592 L0.006,1.392 L1.506,-0.009 L6.003,4.192 L10.501,-0.009 L11.999,1.392 Z'/%3e%3c/svg%3e")
      no-repeat right 0.75rem center/26px 7px,
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f66359' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f66359' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")
      #f4f4f4 no-repeat center right 2.75rem / calc(0.75em + 0.375rem)
      calc(0.75em + 0.375rem);
  border-color: #f66359;
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #f66359;
  box-shadow: 0 0 0 2px rgba(246, 99, 89, 0.25);
}

.was-validated .custom-select:invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-feedback {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label,
.custom-control-input.is-invalid ~ .custom-control-label {
  color: #f66359;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: white;
  border-color: #f66359;
}

.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-feedback {
  display: block;
}

.was-validated
  .custom-control-input:invalid:checked
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  background-color: #f99089;
  border-color: #f99089;
}

.was-validated
  .custom-control-input:invalid:focus
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 2px rgba(246, 99, 89, 0.25);
}

.was-validated
  .custom-control-input:invalid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #f66359;
}

.invalid-feedback {
  font-size: 12px;
  font-weight: 400;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-color: #fff0f0;
  border: none;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-color: #fff0f0;
  border: none;
}

.custom-control-input.is-invalid:checked ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: #fff0f0;
  border: none;
}

.custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: #f4f4f4;
}

.was-validated
  .custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2328a745'/%3e%3c/svg%3e");
}

.was-validated
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: transparent;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: transparent;
  box-shadow: 0 0 2px #e3e3e3;
}

.was-validated .custom-control-input:valid ~ .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label {
  color: inherit;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: transparent;
}

.was-validated
  .custom-control-input:valid:checked
  ~ .custom-control-label::before,
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: transparent;
}

.was-validated
  .custom-control-input:valid:focus
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 2px #e3e3e3;
}

.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #e3e3e3;
}

.was-validated
  .custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231f1f1f'/%3e%3c/svg%3e");
}

.was-validated
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 13'%3e%3cpath fill='%231f1f1f' d='M16.000,1.966 L13.962,0.001 L5.449,8.578 L2.362,4.084 L0.001,5.659 L5.042,13.001 L5.045,12.997 L5.048,13.001 L16.000,1.966 Z'/%3e%3c/svg%3e");
}

.col-md-6,
.col-md-4,
.col-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-flex: 0;
}

.l-main {
  position: relative;
  padding-top: 100px;
  background: #fff9ef;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.page-hdg {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 45px 38px 0;
  overflow: hidden;
}

.page-hdg::after {
  position: absolute;
  top: -74%;
  right: -100%;
  left: -100%;
  z-index: -1;
  width: 1920px;
  height: 105%;
  margin: 0 auto;
  content: '';
  background: #242424;
  -webkit-transform: skewY(-10.355576deg);
  transform: skewY(-10.355576deg);
}

.page-hdg__ttl {
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 0.165em;
}

.page-hdg__ttl small {
  font-size: 11px;
}

.page-hdg .c-form-wrapper {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .l-main {
    position: relative;
    padding-top: 200px;
  }

  .u-center-md {
    text-align: center;
  }

  .u-fz-13-md {
    font-size: 13px !important;
  }

  .u-fz-14-md {
    font-size: 14px !important;
  }

  .u-mt-0-md {
    margin-top: 0 !important;
  }

  .u-mb-0-md {
    margin-bottom: 0 !important;
  }

  .u-ml-0-md {
    margin-left: 0 !important;
  }

  .u-mb-15-md {
    margin-bottom: 15px !important;
  }

  .u-mb-25-md {
    margin-bottom: 25px !important;
  }

  .u-mt-30-md {
    margin-top: 30px !important;
  }

  .u-mt-40-md {
    margin-top: 40px !important;
  }

  .u-mb-40-md {
    margin-bottom: 40px !important;
  }

  .u-mb-50-md {
    margin-bottom: 50px !important;
  }

  .u-mb-70-md {
    margin-bottom: 70px !important;
  }

  .u-mt-80-md {
    margin-top: 80px !important;
  }

  .u-mt-95-md {
    margin-top: 95px !important;
  }

  .u-mb-100-md {
    margin-bottom: 100px !important;
  }
}

@media (min-width: 768px) {
  .u-d-md-none {
    display: none !important;
  }

  .u-d-md-block {
    display: block !important;
  }

  html {
    min-width: 1280px;
  }

  body {
    font-size: 16px;
  }

  .c-form-wrapper {
    padding-bottom: 120px;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
  }

  .page-hdg {
    padding: 104px 0 209px;
  }

  .page-hdg::after {
    top: -50%;
  }

  .page-hdg__ttl {
    font-size: 34px;
  }

  .page-hdg__ttl small {
    font-size: 12px;
  }
}

@media (min-width: 48em) {
  .custom-control-label::before {
    top: -0.0625rem;
    left: -2.125rem;
    display: block;
    width: 1.625rem;
    height: 1.625rem;
  }

  .custom-control-label::after {
    top: -0.0625rem;
    left: -2.125rem;
    width: 1.625rem;
    height: 1.625rem;
  }

  .c-form-inner {
    padding: 80px;
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 15px;
    line-height: 2.4285714286;
    border: 1px solid #e8e8e8;
  }

  .c-form-flow__item {
    width: 90px;
    height: 90px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
    line-height: 90px;
  }

  .c-form-flow__item::before {
    top: 39px;
    right: -30px;
    background-size: 7px 12px;
  }

  form:not(.is-confirm) .c-form-head__label.is-required::after,
  .c-required {
    padding: 10px 18px;
    padding-left: 26px;
    letter-spacing: 8px;
  }

  .c-form-description {
    font-size: 14px;
  }

  .c-form-annotation {
    padding: 35px 35px;
  }

  .c-form-annotation h2,
  .c-form-annotation h3 {
    margin-bottom: 20px;
  }

  .c-form-annotation ul {
    font-size: 14px;
    line-height: 2.4285714286;
  }

  .c-form-error-notice {
    font-size: 14px;
    line-height: 2.7142857143;
    text-align: center;
  }

  .c-form-item {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .is-confirm .c-form-item {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .c-form-item.c-form-item--check {
    padding-bottom: 40px;
  }

  .c-form-item--check .custom-radio,
  .c-form-item--check .custom-checkbox {
    margin-bottom: 30px;
  }

  .c-form-head {
    width: 365px;
    padding-top: 20px;
  }

  .is-confirm .c-form-head {
    padding-top: 0;
    line-height: 2.7142857143;
  }

  .c-form-head__label.is-required {
    padding-right: 135px;
  }

  form:not(.is-confirm) .c-form-head__label.is-required::after {
    top: -5px;
    right: 53px;
  }

  .c-form-head__label--address {
    width: 120px;
  }

  .c-form-head__label--address-02 {
    width: 240px;
    margin-left: auto;
    font-size: 14px;
  }

  .c-form-head__label--address-02.is-required {
    width: 240px;
  }

  .c-form-input,
  .c-form-body {
    width: calc(100% - (230px + 135px));
    margin-left: auto;
  }

  .is-confirm .c-form-body {
    line-height: 2.7142857143;
  }

  .c-form-input--check {
    padding-top: 20px;
  }

  .c-form-input--check
    .custom-radio:not(.custom-control-inline):not(:last-of-type),
  .c-form-input--check
    .custom-checkbox:not(.custom-control-inline):not(:last-of-type) {
    margin-bottom: 30px;
  }

  .c-form-policy {
    padding: 50px 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
  }

  .c-form-agreement {
    font-size: 14px;
  }

  .c-form-agreement__input + label {
    font-size: 1.0625rem;
  }

  .c-form-agreement__input + label::before {
    top: -0.015625rem;
    left: -2.125rem;
    width: 1.625rem;
    height: 1.625rem;
  }

  .c-form-agreement__input + label::after {
    top: -0.0625rem;
    left: -2.125rem;
    width: 1.625rem;
    height: 1.625rem;
  }

  .c-form-buttons .c-form-button {
    margin-right: 10px;
    margin-left: 10px;
  }

  .c-form-buttons .c-form-button:first-of-type {
    margin-left: 0;
  }

  .c-form-buttons .c-form-button:last-of-type {
    margin-right: 0;
  }

  .c-form-button {
    min-width: 350px;
    height: 80px;
    padding: 30px 50px;
    font-size: 15px;
  }

  .c-form-button::after {
    top: calc(80px / 2 - 8px / 2);
  }

  .c-form-button.c-form-button--pageback::after {
    top: calc(80px / 2 - 8px / 2);
  }

  .c-form-lead {
    font-size: 28px;
    line-height: 1.2142857143;
  }

  .c-form-lead .is-sp {
    display: none;
  }

  .form-control {
    width: 100%;
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 0.875rem;
  }

  .form-control[name='postal-code'] {
    max-width: 200px;
  }

  select.form-control {
    height: 60px;
  }

  textarea.form-control {
    padding: 30px;
  }

  .invalid-feedback {
    font-size: 13px;
  }
}

@media (max-width: 767.98px) {
  .l-header__logo img {
    width: 122px;
    height: 19px;
  }

  .page-hdg {
    background-color: #fff;
  }

  .copyrite {
    font-size: 11px;
  }
}

@media (max-width: 47.9375em) {
  .custom-control-label::after {
    background-size: 65% 65%;
  }

  .c-form-flow {
    margin-right: -20px;
    margin-left: -20px;
  }

  .c-form-error-notice {
    padding-left: 70px;
  }

  .c-form-error-notice__icon {
    position: absolute;
    top: 50%;
    left: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .c-form-group {
    margin-bottom: 0;
  }

  .c-form-head {
    padding-bottom: 15px;
    font-weight: 500;
  }

  .is-confirm .c-form-head {
    padding-bottom: 4px;
  }

  .c-form-head__label {
    font-size: 13px;
  }

  form:not(.is-confirm) .c-form-head__label.is-required::after {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .c-form-policy {
    padding: 40px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .c-form-policy h2,
  .c-form-policy h3 {
    font-size: 13px;
  }

  .c-form-agreement {
    line-height: 2.6666666667;
  }

  .c-form-buttons {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }

  .c-form-button {
    width: 100%;
    max-width: 295px;
    font-size: 14px;
  }

  .c-form-button.c-form-button--pageback {
    order: 1;
    max-width: 200px;
    -webkit-box-ordinal-group: 2;
  }

  .form-control {
    font-size: 1rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .custom-control-label::before,
  .custom-select {
    -webkit-transition: none;
    transition: none;
  }

  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}
