@charset "UTF-8";

.l-main {
  padding-top: 60px;
  background-color: #fff9ef;
}

.main-visual .mv-txt {
  box-sizing: border-box;
  padding: 54px 0 52px;
  text-align: center;
}

.main-visual .mv-txt h2 img {
  width: 163px;
}

.main-visual .mv-txt h2 span {
  display: block;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  color: #f5a813;
}

.main-visual .mv-img {
  padding-top: 50%;
  background-image: url(/assets/images/pages/staff/img_mv_staff_md.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* sec-staff */
.sec-staff {
  padding: 46px 0 55px;
}

.sec-staff .l-container--wide {
  padding: 0;
}

.sec-staff .staff-gp {
  display: flex;
  flex-wrap: wrap;
}

.sec-staff .staff-gp .staff-list {
  width: 50%;
  margin-bottom: 25px;
}

.sec-staff .staff-gp .staff-list .content {
  position: relative;
  padding: 25px 14px 28px 20px;
  margin-top: -20px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
}

.sec-staff .staff-gp .staff-list .content-name {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
  color: #333;
  letter-spacing: 1.5px;
}

.sec-staff .staff-gp .staff-list .content-name::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 5px;
  height: 5px;
  content: '';
  border-top: solid 1px #f5a813;
  border-right: solid 1px #f5a813;
  transform: rotate(45deg);
}

.sec-staff .staff-gp .staff-list .content-name .en {
  font-size: 10px;
  font-weight: 500;
  line-height: 2;
  color: #f5a813;
  letter-spacing: 0.2px;
}

.sec-staff .staff-gp .staff-list .content-angle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border: 12px solid #f5a813;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 10px;
}

.sec-staff .staff-gp .staff-list .content-text {
  display: none;
  font-size: 10px;
  font-weight: 400;
  line-height: 2.2;
  color: #333;
  letter-spacing: 1px;
}

.sec-staff .staff-gp .staff-list img {
  width: 100%;
}

/* detail-dialog */
.detail-dialog {
  padding: 60px 0 264px;
}

.detail-dialog .dialog-box {
  padding: 35px 30px 40px 30px;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
}

.detail-dialog .img-box img {
  width: 100%;
}

.detail-dialog .img-box {
  position: relative;
}

.detail-dialog .item-btn {
  position: absolute;
  top: 56%;
  left: -20px;
  width: 45px;
  height: 45px;
  margin: auto;
  transform: translateY(-56%);
}

.detail-dialog .item-btn__02 {
  right: -20px;
  left: auto;
}

.detail-dialog .item-btn__circle::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.detail-dialog .item-btn__01 .c-circle--02::after {
  border: 0;
  border-bottom: solid 2px #f5a813;
  border-left: solid 2px #f5a813;
}

.detail-dialog .item-btn__02 .c-circle--02::after {
  border-top: solid 2px #f5a813;
  border-right: solid 2px #f5a813;
}

.detail-dialog .dialog-box .content-name {
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: 700;
  line-height: 1;
  color: #333;
}

.detail-dialog .c-circle {
  position: relative;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.detail-dialog .dialog-box .content-name .en {
  font-size: 12px;
  font-weight: 400;
  color: #f5a813;
}

.detail-dialog .dialog-box .content-txt__box {
  display: flex;
}

.detail-dialog .dialog-box .btn {
  display: inline-block;
  padding-right: 15px;
}

.detail-dialog .dialog-box .btn p {
  width: 45px;
  padding: 3px 9px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background-color: #f5a813;
  border-radius: 5px;
}

.detail-dialog .dialog-box .content-txt__box01 {
  margin-bottom: 10px;
}

.detail-dialog .dialog-box p {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  letter-spacing: 0.5px;
}

.detail-dialog .dialog-box p.content-text {
  line-height: 1.7;
}

.detail-dialog .dialog-box .description p {
  margin-top: 32px;
  line-height: 2.5;
  letter-spacing: 0.9px;
}

.detail-dialog .sec-case__btn {
  margin: 40px auto 0;
}

.detail-dialog .sec-case__btn {
  font-size: 15px;
  font-weight: 700;
  color: #f5a813;
  letter-spacing: 3px;
}

/* modal */
*:focus {
  outline: none;
}

.event-none {
  pointer-events: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: none;
  overflow: hidden;
  outline: 0;
  opacity: 0.5;
  transition: all 0.7s ease;
  -webkit-overflow-scrolling: touch;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.9;
}

.modal-open .modal.in {
  opacity: 1;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(
      90deg,
      rgba(255, 249, 239, 1) 50%,
      rgba(255, 255, 255, 0) 28%
    );
  }

  .sec-mv {
    max-width: 1920px;
    margin: 0 auto;
  }

  .l-main {
    padding-top: 90px;
    background-color: transparent;
    background-image: url(/assets/images/pages/staff/bg_staff.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
  }

  .main-visual {
    display: flex;
    align-items: center;
  }

  .main-visual .mv-txt {
    width: 680px;
    text-align: center;
  }

  .main-visual .mv-txt h2 {
    display: inline-block;
  }

  .main-visual .mv-txt h2 img {
    width: auto;
  }

  .main-visual .mv-txt h2 span {
    font-size: 16px;
    line-height: 2.5;
    color: #f5a813;
    text-align: left;
  }

  .main-visual .mv-img {
    width: 1240px;
    padding-top: 620px;
    background-image: url(/assets/images/pages/staff/img_mv_staff.jpg);
    border-bottom-left-radius: 15px;
  }

  /* sec-staff */
  .sec-staff {
    padding: 100px 0;
  }

  .sec-staff .l-container--wide {
    padding: 0 23px;
  }

  .sec-staff .staff-gp {
    margin: 0 -30px;
  }

  .sec-staff .staff-gp .staff-list {
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 30px;
    margin-bottom: 60px;
  }

  .sec-staff .staff-gp .staff-list .content {
    z-index: 0;
    box-sizing: border-box;
    height: calc(100% - 413px);
    padding: 42px 50px;
    margin-top: -50px;
    margin-left: 40px;
    border: 2px solid transparent;
    transition: all 0.3s;
  }

  .sec-staff .staff-gp .staff-list:hover {
    cursor: pointer;
  }

  .sec-staff .staff-gp .staff-list:hover .content {
    cursor: pointer;
    border: 2px solid #f5a813;
  }

  .sec-staff .staff-gp .staff-list .content-name {
    padding-left: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 1.15;
    letter-spacing: 2px;
  }

  .sec-staff .staff-gp .staff-list .content-name::before {
    width: 0;
    height: 0;
    border: none;
  }

  .sec-staff .staff-gp .staff-list .content-name .en {
    font-size: 13px;
    color: #f5a813;
    letter-spacing: 1px;
  }

  .sec-staff .staff-gp .staff-list .content-angle {
    top: -2px;
    left: -2px;
    border: 16px solid #f5a813;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .sec-staff .staff-gp .staff-list .content-text {
    display: block;
    font-size: 13px;
    line-height: 2.3;
    letter-spacing: 1.4px;
  }

  /* detail-dialog */
  .detail-dialog {
    padding: 94px 0 234px;
  }

  .detail-dialog .dialog-box {
    display: flex;
    padding: 78px 80px 82px 80px;
  }

  .detail-dialog .item-btn {
    top: auto;
    bottom: -8%;
    left: -90px;
    width: 60px;
    height: 60px;
    transform: translateY(-8%);
  }

  .detail-dialog .item-btn__02 {
    right: -90px;
    left: auto;
  }

  .detail-dialog .c-circle {
    width: 60px;
    height: 60px;
  }

  .detail-dialog .dialog-box .content {
    width: 500px;
  }

  .detail-dialog .dialog-box .content-name {
    margin-bottom: 32px;
    font-size: 34px;
  }

  .detail-dialog .dialog-box .content-name .en {
    font-size: 14px;
  }

  .detail-dialog .dialog-box .content-hdg {
    margin-top: 5px;
    letter-spacing: 3px;
  }

  .detail-dialog .dialog-box .btn {
    display: inline-block;
    padding-right: 20px;
  }

  .detail-dialog .dialog-box .btn p {
    width: 74px;
    padding: 5px 19px;
    font-size: 14px;
  }

  .detail-dialog .dialog-box .content-txt__box01 {
    margin-bottom: 15px;
  }

  .detail-dialog .dialog-box p {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .detail-dialog .dialog-box p.content-text {
    line-height: 2.2;
    letter-spacing: 1.6px;
  }

  .detail-dialog .dialog-box .description {
    width: 500px;
  }

  .detail-dialog .dialog-box .description p {
    margin-top: -12px;
    line-height: 2.9;
    letter-spacing: 2.1px;
  }

  .detail-dialog .sec-case__btn {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .sec-staff .staff-gp .staff-list .content {
    height: calc(100% - 380px);
  }

  .detail-dialog .l-container {
    width: 90%;
    max-width: 1100px;
  }

  .detail-dialog .item-btn {
    left: -80px;
  }

  .detail-dialog .item-btn__02 {
    right: -80px;
    left: auto;
  }
}
